[2015-03-12 20:30] steveswinsburg opened #12 "IndexOutOfBoundsException on clicking back after importing a file"
When you import a file and go to next screen, then click back, an IndexOutOfBoundsException is thrown:

java.lang.IndexOutOfBoundsException: Index: 0, Size: 0
     at java.util.ArrayList.rangeCheck(ArrayList.java:635)
     at java.util.ArrayList.get(ArrayList.java:411)
     at org.sakaiproject.gradebookng.tool.panels.importExport.CreateGradeItemStep.<init>(CreateGradeItemStep.java:71)
     at org.

[2015-03-12 20:54] payten opened #13 "Javascript error in Firefox"
Keyboard navigation etc doesn't work in Firefox! (gradebook-grades.js errors)

[code]

[2015-03-17 01:40] maurercw commented on #12
Can you give any additional steps to reproduce?  I'm not able to reproduce in my local version (my forked branch).

[2015-03-17 01:49] maurercw commented on #12
That's weird...I am getting totally different results between firefox and chrome.  Hitting back in FF still seems to progress forwards while chrome works as expected.

[2015-03-17 10:37] steveswinsburg commented on #12
Maybe that is it, FF is going forwards.

To reproduce in FF, download the full gradebook, then upload it without modification. On the next screen click Back, boom.

[2015-03-17 10:42] steveswinsburg commented on #12
I think the issue is that its a submit button so wicket will submit the form. You probably want to handle this as a normal button (like a cancel) with setDefaultFormProcessing to false so it doesnt submit.

[2015-03-17 12:57] maurercw commented on #12
I updated the pull request last night (my last night, so about 10 hours ago!) with a change.  I didn't set setDefaultFormProcessing, but did turn them into buttons.  Apparently I had some that were still submits and some that were already buttons.

[2015-03-17 15:15] jeffpasch opened #16 "column headers for student info columns not fixed"
column headers for student info columns should stay fixed.
http://note.io/19vWMO7

[2015-03-17 15:17] jeffpasch opened #17 "Some ghosty residue remains when moving columns right to left"
http://note.io/1GRrBHh

[2015-03-17 21:38] payten commented on #13
Fixed in #14.

[2015-03-17 21:38] #13 closed, assigned to nobody

[2015-03-17 21:43] payten commented on #16
Hi @jeffpasch. Hm yeah.. that's my doing.  It's a little trickier to do this with the current <table> markup and then also include the accessibility suggestions from TPG.

I'll spend more time on it to see if I can work it through.  Just to confirm, which columns should be fixed?

Also, do we need the table header to be fixed? Or just the left-side columns?  It'd be technically a lot simpler if on

[2015-03-18 06:39] jeffpasch commented on #16
Hey @payten. Our thought was to have left three columns fixed -- Student, Section/Group, and Course Grade. (Section/Group isn't in the grid yet.)  And, just to make life difficult, we were also hoping to freeze the header row as well. In terms of priority for the webinar next week, I think freezing the left columns might be more important...although I realize the choice of which to do right now ma

[2015-03-18 06:56] payten commented on #16
Gotcha - of course you want everything :)  Maybe I'll focus on the fixed columns for the demo -- it also seems the fixed headers don't really have too much impact as we're only displaying 8 items in the table.

[2015-03-18 14:46] jeffpasch commented on #16
Well I know how you like a challenge. ;) And yeah, I agree that for the demo fixed headers won't have an impact.

[2015-03-20 20:30] kyleblythe opened #21 "Do not show .0 decimal point in item scores"
If an item score does not contain a decimal point (.1 through .9), do not show decimal point in spreadsheet.

e.g., Instead of 98.0, show 98

[2015-03-20 21:03] steveswinsburg commented on #21
I've put in a fix for this. I noticed there is a separate issue with the fields updating, I'll get on to fixing that.

[2015-03-20 21:03] #21 closed, assigned to nobody

[2015-03-20 21:20] steveswinsburg commented on #21
Ok it should now be updating correctly too. So if you enter 45.0 and save, it will go to 45 immediately.

[2015-03-25 03:03] maurercw commented on #12
I'm hoping that this issue has been addressed now?

[2015-03-25 11:24] steveswinsburg commented on #12
Which branch did you commit against? I cant see any commits on this PR. If you commit to the same branch that the PR was for, then push, git will link it up. I can see the commit on your master, looks like you might just need to send me another PR.

The other thing you might want to do is work in a branch then you can just send a PR for the whole branch.

Are you using Sourcetree? Makes life a lot

[2015-03-25 13:09] maurercw commented on #12
PR #6 is the one that would have had all this stuff in it.  I also just did a small one this morning (PR #27) for the import success message.  I'll switch to work in a branch from here on and see if that makes things any easier.

[2015-03-25 20:09] steveswinsburg commented on #12
Ok I don't see any new commits on that one either.
https://github.com/steveswinsburg/gradebookNG/pull/6

Hmm. You can probably just send a PR for the entire master and it should
pickup any commits that havent been merged.

On Thu, Mar 26, 2015 at 12:09 AM, Chris Maurer notifications@github.com
wrote:

[2015-03-25 20:27] maurercw commented on #12
It wasn't a rebase, just a merge, so you'll have my commits sprinkled
throughout your master commits.
Some of that was before I knew how to use git as well!
We've been using it for a while on our project at IU, so I've gotten
better!  We're using some git flow tools too.
I'll look through your stuff to verify if all of my stuff is there or not...

Chris

On Wed, Mar 25, 2015 at 4:09 PM, Steve Swin

[2015-03-25 20:39] steveswinsburg commented on #12
Ok great. I'll give it a run through tonight and check too.

On Thu, Mar 26, 2015 at 7:27 AM, Chris Maurer notifications@github.com
wrote:

[2015-04-01 04:08] payten opened #35 "Drag reorder not sticking with browser refresh"
Hi @steveswinsburg,

After dragging and dropping a column I've been noticing the sort order isn't sticking on a page refresh, however when I hit the tool reset action the new sort order applies.  Smells of caching?

Cheers
Payten

[2015-04-01 06:17] payten commented on #35
Hm.. looks like there's a similar issue when entering a grade too e.g. I enter a new grade value; after refresh of page it reverts to the previous value; after reset of tool it displays the new value.

[2015-04-01 12:17] steveswinsburg commented on #35
Interesting. The wicket models are updating but the page refresh is pulling the current version of the page from the cache due to the ?pageid param being in the URL. Investigating.

[2015-04-01 12:52] steveswinsburg commented on #35
Ok so we can add a different rendering strategy which seems to fix this. The only thing is it makes the URLs a bit ugly.

getRequestCycleSettings().setRenderStrategy(IRequestCycleSettings.RenderStrategy.ONE_PASS_RENDER);

It's in but commented out in the Application class. Let me know your thoughts.

[2015-04-01 12:53] #17 closed, assigned to nobody

[2015-04-01 12:58] steveswinsburg commented on #12
Ok this seems to be working ok, however does break with the introduction of the new request mapper:
https://github.com/steveswinsburg/gradebookNG/issues/35

I think the history.back is the issue, can you do that via Wicket? (setResponsePage)

[2015-04-01 19:02] steveswinsburg commented on #35
I think I might leave this as a known issue for now. This adds some ugly bits to the URL. There are a few ways to fix this so we can look at in in depth soon.

[2015-04-02 02:53] maurercw commented on #12
PR #37 has some changes for the back button.  Let me know if that works out for you.  The constructors for my import panel classes are getting pretty messy...  I may look into using some sort of model to wrap up all the stuff I'm passing around.

[2015-04-02 03:27] maurercw commented on #12
PR #37 updated with some model stuff now.  May not be the best approach yet, but hopefully cleaner.

[2015-04-02 03:42] steveswinsburg commented on #12
Have a look at what I'm doing for the student name panels. Basically
passing in a model which wraps a map of data, then unpack the model in the
onInitialise method (not the constructor). Migrating my stuff over to use
that approach, seems to work pretty well, just need to document the model
object map fields for each panel so ppl know what's in there :)
On 2 Apr 2015 2:27 pm, "Chris Maurer" notifi

[2015-04-02 13:09] kyleblythe opened #38 "GB Items originating from other tools are editable in the spreadsheet"
Currently, items originating from other tools (graded assignments, Tests & Quizzes, Lessons, etc) show up as being editable in the spreadsheet interface - scores may be added/changed within these items' cells (http://www.screencast.com/t/jlAA8kH5nmq), but the scores themselves are not reflected within the originating tool.

Since, in Core GB, these types of items are not editable within the GB vie

[2015-04-02 13:19] kyleblythe opened #39 "Import / Export process not recognizing updated scores, provides an error when importing new items."
When downloading a spreadsheet template, modify / add scores for a column. When importing that csv file back into the system, Import / Export does not recognize updated scores - all item statuses will be listed as "N/A." Upon completing the process, the updated scores are not present in the spreadsheet.

If a new item is manually added to the spreadsheet export, attempting to import that back into

[2015-04-03 04:23] maurercw commented on #39
Let's see if PR #40 addresses this issue.

[2015-04-03 04:52] maurercw commented on #12
Cleaned up the models some more in PR #40.  Let me know if I'm getting closer!

[2015-04-09 11:51] steveswinsburg commented on #39
@kyleblythe could you please re-test? I've merged in PR #40.

[2015-04-09 11:51] steveswinsburg commented on #38
On to it. Cheers.

[2015-04-09 11:52] steveswinsburg commented on #12
Ok I'm closing this one off, we can raise separate issues as required.

[2015-04-09 11:52] #12 closed, assigned to nobody

[2015-04-09 11:53] steveswinsburg commented on #16
I think we are good here. Closing this one off.

[2015-04-09 11:53] #16 closed, assigned to nobody

[2015-04-09 15:04] kyleblythe commented on #39
Hi @steveswinsburg and @maurercw,

Ok, looks like the issue is still occurring. I tested with a few different conditions, and each time I clicked "Next" I got an Unexpected RunTime Exception: http://www.screencast.com/t/HMDNjHw57qe

The conditions were:
New grade scores within an item column
New comments in an item's comment column
Modified title of downloaded template, with no changes to spreadsh

[2015-04-09 17:22] maurercw commented on #39
Hmm.  Is this running out in the world anywhere?  Just trying to rule out
my environment and see if you had something special in the gradebook setup
that I didn't.  I'll take a peek again tonight.

Chris

On Thu, Apr 9, 2015 at 11:04 AM, kyleblythe notifications@github.com
wrote:

[2015-04-10 01:40] maurercw commented on #39
Ah, I think I see the issue.  Bitten by copy/paste I believe!

[2015-04-10 01:56] maurercw commented on #39
Let's try again with PR #41.

[2015-04-10 05:17] payten opened #42 "Grade item ordering not retained"
Hi @steveswinsburg,

I've been debugging a reordering issue I noticed whereby the drag-and-drop order is not retained and returns somewhat unexpected results.

I think I've tracked it down to the orders stored in the XML properties.  I'm seeing multiple entries for given indexes.  I think the issue is the `order` index I POST is being entered into the database without reindexing the index of the i

[2015-04-11 03:22] steveswinsburg commented on #39
Ok that's in.

[2015-04-11 03:41] steveswinsburg commented on #42
I was looking at the gradebook service code today. The tool is the one that
manages the sort order, which sucks. However I think we can just make an
API addition to expose this, then we don't need to worry about our own
properties. WDYT?

On Fri, Apr 10, 2015 at 3:17 PM, Payten Giles notifications@github.com
wrote:

[2015-04-11 04:41] steveswinsburg commented on #42
Ok it looks like adding to the API is pretty trivial, so we can use the normal gradebook item sort. Cool. Yes, definitely check out the reindexing of the siblings and I can just whack that into the API method. It would need to fetch the other assignments and compare their sort orders for any collisions - I guess it would need to then bubble them all along and then save the new sort order for all o

[2015-04-13 12:07] steveswinsburg commented on #42
Hey @payten, check out https://github.com/sakaiproject/sakai/pull/396. This is a mod to the gradebookservice API and reindexes the list as required. It then persists it into the same place that the original gradebook has it. If we do this we can ditch the XML code and repurpose it for storing the category order.

[2015-04-14 13:10] steveswinsburg commented on #42
I've swapped it over to use this method and removed the custom code, this seems to be working well.

[2015-04-14 13:10] #42 closed, assigned to nobody

[2015-04-14 13:12] steveswinsburg commented on #38
Hey @kyleblythe this should be sorted now. External grades should no longer be editable.

[2015-04-14 13:13] steveswinsburg commented on #39
Hi @kyleblythe, do you think you could test this out again? Let me know if there are any issues.

[2015-04-14 13:14] steveswinsburg opened #45 "Performance testing"
Need a few reference sets of students, assignments and grades and to assess any performance issues.

[2015-04-14 13:15] steveswinsburg opened #46 "Fix feedback banner"
Banner is crammed into the left and has a linebreak. Needs correct text also.

![screen shot 2015-04-14 at 11 14 45 pm](https://cloud.githubusercontent.com/assets/129129/7137325/188fe1ce-e2fc-11e4-964f-e0dce4e3cbf6.png)

[2015-04-14 13:23] steveswinsburg opened #47 "Add polling capability to know when someone else is editing"
- Have an event published when a grade is edited.
- There will be a lightweight listener that receives the event, and stores it in a cache with a fairly short TTL (30 seconds).
- Note that there could be multiple people editing the gradebook so cache needs to handle multiple entries for the same gradebook Uid.
- Have an entityprovider to to poll the cache every now and then.
- Display the user who

[2015-04-14 13:27] steveswinsburg opened #48 "Address the concurrency of edits"
If two users are viewing the gradebook and both edit a grade, they can overwrite each others grades, there is no locking on the database table.

A possible solution is to pass in the old value and the new value, and when saving, first do a lookup to check the old value in the database. If it doesn't match the passed in old value, then there is a concurrency issue: someone else has edited.

[2015-04-14 14:31] steveswinsburg opened #49 "Add grade validation"
If an assignment is out of 100, it's possible to enter a number greater than 100. Please fix this.

[2015-04-15 20:33] kyleblythe commented on #39
Hi @steveswinsburg and @maurercw,

I tried out a few different scenarios for this. Results (and steps to reproduce) are below. To note, I did the testing in this site: https://sandboxclasses1.home.nyu.edu/portal/site/0126c41b-71b2-468b-9550-b6e06d1793d4

Importing csv with modified grade entry (resulted in incorrect statuses and, when attempting to complete import, a Runtime Exception screen):

1)

[2015-04-16 18:57] maurercw commented on #39
Thanks for the extra details.  I'll take a look.

Chris

On Wed, Apr 15, 2015 at 4:33 PM, kyleblythe notifications@github.com
wrote:

[2015-04-16 20:45] #46 closed, assigned to nobody

[2015-04-16 20:53] steveswinsburg commented on #49
Hi @kyleblythe and @jeffpasch  - as discussed on email I am implementing a check for grades greater than the maximum and adding a warning instead of a preventing the save from going through, so its like GB classique.
However we also discussed having some immediate feedback on the cell itself. How would you like this? A green/red/orange border on the cell? Some shading? Should this fadeaway after a

[2015-04-16 22:26] #38 closed, assigned to steveswinsburg

[2015-04-18 13:02] steveswinsburg commented on #48
I've added in code to send the original grade and check it against the current stored grade. It's working pretty well. The front end still needs proper banner etc. And maybe a link to reload the page (later it can be just the current student row).

[2015-04-18 13:02] #48 closed, assigned to steveswinsburg

[2015-04-18 21:21] steveswinsburg commented on #49
I've added validation to the backend to check the max points for an assignment and still save it, but return an 'over limit' response. We also have checks and responses for when there is no change to do nothing, if the grade being edited is out of date (ie someone else has updated) and of course for success/failure.

Still need this to be sorted out on the front end.

[2015-04-18 21:21] #49 closed, assigned to nobody

[2015-04-29 21:31] steveswinsburg commented on #47
Hey @payten, this is in now. Users that are editing are stored in a cache.

You can make a request like so:
`http://localhost:8080/direct/gbng/isotheruserediting/SITE_ID.json`

To get the list of users that are currently editing this gradebook. Note that gradebook_id == site_id for our purposes.

I need to look into the cache tuning via sakai.properties so we can get this down to about 30 seconds

[2015-04-29 21:40] steveswinsburg commented on #47
Ok for the cache tuning, set this:

`memory.org.sakaiproject.gradebookng.cache.notifications=timeToLiveSeconds=10`

Items in the cache will stick around for 10 seconds. We can change that as desired.

I've added it to the readme.

[2015-04-30 21:53] steveswinsburg opened #55 "Add category subtotals"
Add category subtotals in their own column at the end of the gradebook with a data- attribute of the category id so that they can be repositioned when we group by column.

When grouped by category, they should appear as the last item and be not movable.

[2015-04-30 21:54] steveswinsburg opened #56 "Add sorting of scores within an assignment"
When clicking on an assignment title, sort the scores in the column. We agreed on a page refresh for now so this can be handled in the Wicket and backend code.

[2015-04-30 21:57] steveswinsburg commented on #45
In the interim, add some logging into various steps so we can see the performance measurement of various tasks. Discussed adding a selenium step so we can run that repeatedly and hookup a profiler.

[2015-04-30 21:59] steveswinsburg opened #57 "Hookup the sorting by first/last name"
We have the drop down for this, we just need it to cycle between the sort types (currently only first and last name, but could be eid). This will save as a per user and per site config property and when getting the gradeable users it will use this to figure out the comparator to use.

[2015-05-04 12:30] steveswinsburg opened #61 "Add client side validation to prevent entering non numbers"
Add validation to the front end to prevent a user entering non numbers.

[2015-05-04 12:54] #61 closed, assigned to nobody

[2015-05-04 12:56] steveswinsburg opened #62 "Mark cells with the warning flag on load, if their values are over limit"
When loading the page, determine if the cells are over limit and mark them with the warning class. This negates the need to persist the warnings.

[2015-05-04 12:57] steveswinsburg opened #63 "Add timeout to successful grade saves"
Attach a timeout to the success class on the successful save. It should fadeout the background and icon and revert to the original.

[2015-05-04 12:58] steveswinsburg opened #64 "Add logging into various steps for timing purposes"
Add some logging into various steps for performance measurement of various tasks. This is to get some rudimentary figured before we hook up our full tests.

[2015-05-04 13:00] steveswinsburg opened #65 "Enhance editing notifications to notify edits on the API directly"
Polling notifications should respect the Sakai event system as well so we know about edits in the original gradebook. This assumes that an edit fires an event (check this). If so, we can listen for it and add it to the cache.

[2015-05-04 13:02] steveswinsburg opened #66 "Enhance student summary"
As an instructor, when you click on the student summary, the screen should default with everything visible. There will then be an option to go into student review mode where its just for the student. When leaving the student review mode, warning that things will become visible again.

[2015-05-04 13:03] steveswinsburg opened #67 "View grade statistics"
**View Grade Statistics**
Opens a lightbox window displaying vital grade stats for the item. This allows the system to calculate the average score on an item-by-item basis. And, since the average would now be appearing in a separate window, this could be a great opportunity to provide additional statistics, such as median/low/high score, as well as maybe standard deviation and a visual histogram.

[2015-05-04 13:15] steveswinsburg commented on #62
Done.

[2015-05-04 13:15] #62 closed, assigned to steveswinsburg

[2015-05-06 13:25] steveswinsburg opened #68 "No gradebook is bootstrapped into site when using GradebookNG"
The gradebook1 tool bootstraps a gradebook to the database if one doesnt exist. GradebookNG needs to do this too otherwise we are reliant on GB1.

[2015-05-06 13:39] steveswinsburg commented on #64
Ok I've added some logging in. It just prints to the console so you can see whats taking the time. The back end time is about 10ms per student. On a local site with 300 or so users, this means just to get the data is about 3500ms. I then see about 1 second before it appears in my browser. It is interesting to have a console open and render the main page to see it all happening.

https://gist.githu

[2015-05-06 13:40] steveswinsburg commented on #64
[code]

[2015-05-07 02:36] payten commented on #64
Hi @steveswinsburg,

Here are my times without the category-XML wrangling for a gradebook with 400 students and 11 gradebook items: https://gist.github.com/payten/7d8acc2268fa5a73b6c1

And with the category XML call: https://gist.github.com/payten/1854cbc8652ce27c8ea7

The XML category stuff adds ~100ms to the request:

[code]

[2015-05-07 03:29] steveswinsburg commented on #64
Hey @payten is that on your local machine? Interesting that the time per
student on the backend is about 100-150ms each compared to 10ms on mine.
What database are you running?

Sounds like I could add some more logging deeper in the gradebook calls to
see what part is taking 10 times as long.

Cheers
Steve
On 7 May 2015 12:36 pm, "Payten Giles" notifications@github.com wrote:

[2015-05-07 03:42] payten commented on #64
I'm running MySQL 5.6.15-osx10.7-x86_64 on my MacBook (all local, so no latency).

How many grade items did you have? I have 11.

Edit: Just redid the timing with 1 grade item: https://gist.github.com/payten/4b956a556471f56b700e.  Much quicker!  About 10x quicker ;)

[2015-05-07 21:19] #63 closed, assigned to nobody

[2015-05-07 21:21] steveswinsburg opened #69 "Add currentSort class to header that is sorting"
Both Gradebook _classique_ and Site Info have a bold title with an updown icon next to it for the column that is sorting. This appears related to the currentSort class. Add this.

[2015-05-07 21:25] kyleblythe opened #70 "Reordering column - updated scores not reflecting"
When a column is drag-n-dropped, only the first row reflects the new ordering. Rows 2+ remain fixed, showing the scores for the existing item placement.

Ordering does not appear to save either.

[2015-05-07 21:34] steveswinsburg opened #71 "Fade out the yellow background for a warning cell but keep the icon"
When the warning cell class is added, attach a fade out for the yellow background but keep the icon. This is similar to what we did for the successful save.

When loading the cells and they go into that state, keep the icon only.

This will need the classes to be split so the background and cell can be attached individually.

[2015-05-07 21:36] #71 closed, assigned to nobody

[2015-05-07 21:36] steveswinsburg commented on #71
Changing the behaviour of this so no longer required.

[2015-05-07 22:06] steveswinsburg commented on #64
OK yes it looks like the time increases significantly as the number of gradebook items increases. I have 20 items and 5 users and now get around 40ms per user: https://gist.github.com/steveswinsburg/087594bc07d48a064106

I'll ramp this up on my other machine where I have hundreds of users and test again.

I'll also add additional timings inside the logic to see where its getting held up. I may be

[2015-05-07 22:13] payten commented on #70
Ah yep.. the first issue is a bug in the drag and drop javascript.  The plugin we use for dragging columns doesn't support having hidden columns so I had to get creative and a little bit hacky.  I'll look into implementing our own drag and drop... that'll be fun :joy_cat:

Regarding the save... will investigate further as it seems to be throwing an error:  https://gist.github.com/payten/df19bc1b90

[2015-05-08 05:53] payten commented on #70
@steveswinsburg on Sandbox1 we're seeing the null pointer exception (in the gist above) deep in the gradebook service `org.sakaiproject.component.gradebook.GradebookServiceHibernateImpl.updateAssignmentOrder`.  I have a feeling it's because we've frozen the Sakai build version at commit `3b5cb7d63c8024e544a450eb09752e27a5573201` from `Sat Apr 18 07:48:23 2015 +1000`.  Do we need to upgrade Sakai o

[2015-05-08 06:46] payten commented on #70
Hm I'm wrong... the latest Sakai build is throwing the same NPE.  I'll dig into it...

It looks like the grade items in `gb_gradable_object_t` all have a `sort_order` of null, hence the NPE on line 2785 of `GradebookServiceHibernateImpl.java` - it all starts to play nice once I poke some integers in there.  Perhaps we need to set this order value on grade item creation?

[2015-05-11 08:57] steveswinsburg commented on #70
This method is one I wrote, it was working previously, I wondering if
something recent has changed it/caused a regression. I haven't updated
trunk yet as I haven't had a chance to upgrade Java/Tomcat. I can certainly
fix this one if you haven't found the issue already.

On Fri, May 8, 2015 at 4:46 PM, Payten Giles notifications@github.com
wrote:

[2015-05-11 20:58] steveswinsburg commented on #64
Looking further, whether or not an assignment has grades doesn't seem to matter, its in the retrieval of the grades. See the gist where the first few students don't have grades (90-100ms per student) and the last two do have grades (same times). This may be due to some inefficient iterations in building the matrix. I originally did it this way so we had the comments in the returned structure but I

[2015-05-12 12:23] steveswinsburg commented on #70
Ok I've found the problem and will be pushing a fix up shortly.

[2015-05-12 12:42] steveswinsburg commented on #70
Hey @Payten, I have found a bug that appears to be in the JS relating to this. It seems to be always sending the same assignment Id for updating the order. I had a look at the network requests in the browser and this appears to be the case. I've fixed the backend bug, it should be merged shortly.

[2015-05-12 13:12] steveswinsburg opened #73 "Rewrite the grade matrix construction to be more efficient"
Currently the grade matrix logic iterates over every gradeable user in the site, and does a further iteration over every assignment for those users, and gets the details of each grade item individually. This results in a huge number of database requests and makes things slower and slower as more gradebook items are added. This was fine for the initial POC but does not scale.

After some performanc

[2015-05-12 13:17] steveswinsburg commented on #73
I note the comment I added into this method when I originally wrote it :stuck_out_tongue:

[code]

[2015-05-12 13:18] steveswinsburg commented on #64
Ok I'm closing this one as I think I have everything I need to get this sorted. See #73

[2015-05-12 14:14] steveswinsburg commented on #73
Hi @payten,
Any chance you can pull https://github.com/steveswinsburg/gradebookNG/tree/feature/grade_matrix_rewrite and briefly test it out locally? I still need to do some cleanup in it, but I want to make sure it doesn't break anything for you before I merge to master.

My timings went from 16000ms down to 160ms for 300 users, 16 gb items and a bunch of scattered grades. Interested to get your n

[2015-05-14 02:04] steveswinsburg commented on #73
I've merged this in to master. Still interested in numbers when you get a chance to load it up. No need to pull branch now, just update master :)

[2015-05-14 02:04] #73 closed, assigned to steveswinsburg

[2015-05-14 02:06] steveswinsburg commented on #39
Hey @maurercw have you had a chance to look into this one? cheers.

[2015-05-14 02:49] steveswinsburg opened #75 "Column header dropdowns"
When the column header drop-down menu is selected, we're envisioning a total of 6 selectable options appearing: Edit Item Details, View Grade Statistics, Move Left, Move Right, Hide Item, and Set Ungraded Scores to 0. A breakdown of these options is provided below.

**Edit Item Details**
Takes you into the "Edit" screen for the selected item.

**View Grade Statistics**
Opens a lightbox window disp

[2015-05-14 03:52] steveswinsburg opened #76 "When column header dropdown is clicked, header is selected"
Hey @payten, just noticed that when I click the dropdown on an assignment header, that header is selected. This doesn't happen for the normal grade cells. Could you take a look?
Also, I wonder if we should suppress the selection of the header row altogether?

[2015-05-14 05:05] payten commented on #73
Yep that's looking much faster! 40130ms down to 1390ms: https://gist.github.com/payten/35c0201779ed33674e1a

[2015-05-14 07:14] steveswinsburg opened #77 "Add unit tests"
Add unit tests to the backend to ensure the different scenarios are being catered for properly and consistently.

[2015-05-14 10:53] steveswinsburg opened #78 "Hide/show checkboxes are misaligned in Firefox"
When using Firefox, if you open the show/hide items panel, the checkboxes are pushed down to a second line. See screenshot.
![screen shot 2015-05-14 at 8 49 32 pm](https://cloud.githubusercontent.com/assets/129129/7630603/012b0dba-fa7b-11e4-9293-93bd72e82a7b.png)

[2015-05-16 10:54] #78 closed, assigned to payten

[2015-05-17 13:57] #76 closed, assigned to payten

[2015-05-17 13:58] steveswinsburg commented on #75
These are implemented except grade stats and the set ungraded items one.

[2015-05-17 14:00] steveswinsburg commented on #45
Now that performance is drastically improved I'm going to close this one. Can reopen if we do anything more in this area.

[2015-05-17 14:00] #45 closed, assigned to nobody

[2015-05-17 14:04] steveswinsburg opened #84 "Finish the 'Add Gradebook Item' window"
We didn't have the backend services for this, nor the correct code. Hook this all up based on the edit page.

[2015-05-18 01:13] maurercw commented on #39
Looking into it now.

Chris

On Wed, May 13, 2015 at 10:06 PM, Steve Swinsburg notifications@github.com
wrote:

[2015-05-18 04:19] payten commented on #70
Just investigating the "same assignment ID" issue and I'm not seeing it happen in the latest version.  I'm wondering if my refactor of the drag and drop code fixed it? I'll take it! :trophy:

[2015-05-18 09:39] steveswinsburg opened #85 "Move CSS to basepage resource"
The CSS is currently rendered through a direct call to the /gradebookng-tool/ context. This is not futureproof as the context may change. SWitch to rendering through a CSS Resource in the BasePage.

[2015-05-19 02:26] maurercw commented on #39
I think I've got fixes for most of these issues about ready.  For the last one you mention @kyleblythe , it seems like you added new assignments by just adding a header but not adding corresponding (empty) items for each student.  What should the import do?  Just assume that the missing values were null and set nothing or complain of an improperly formatted csv since there aren't enough fields?

[2015-05-19 02:31] maurercw commented on #39
Oh, now that I'm debugging (and looking more at the logs) it looks like there is an exception being thrown (2015-05-18 22:27:27,288 ERROR http-nio-8080-exec-36 org.sakaiproject.gradebookng.business.helpers.ImportGradesHelper - Error reading imported file: class java.lang.ArrayIndexOutOfBoundsException : 20) so that may answer my question!  I'll see about handling that a bit more gracefully and pas

[2015-05-19 02:38] maurercw commented on #39
Actually, I can probably just leave the value empty.  Which ever you guys thing is best.

[2015-05-19 02:58] steveswinsburg commented on #39
Yeah I think it should be pretty tolerant.  There is a summary screen of
what's going to happen so once uploaded the instructor can see if that's
what they wanted.

sent from my mobile device
On 19/05/2015 12:38 PM, "Chris Maurer" notifications@github.com wrote:

[2015-05-19 03:06] maurercw commented on #39
Ok, see how PR #86 looks.  That should (hopefully) at least get rid of the errors.  Still looking to see if I can reproduce the cases of the status not being determined correctly.

[2015-05-19 11:55] #70 closed, assigned to payten

[2015-05-22 13:46] kyleblythe commented on #39
Hi @maurercw,

In our Sandbox instance, when I try to download the "Full" Gradebook in any site, I am getting an Unexpected Runtime Exception:

http://www.screencast.com/t/IFv2goVlsXWS

[2015-05-22 14:05] kyleblythe opened #91 "Introduce grade log / comment functionality in cells"
Provide the functionality available in the GB cell dropdown menu: Grade Log, and Comments.

Grade Log:

Once "Grade Log" is selected, display the following grade log as a modal window, displaying all grade values that have been supplied for that cell, with a timestamp and netID for the instructor who supplied the grade.

![grade log 1](https://cloud.githubusercontent.com/assets/11447474/7772084/fd

[2015-05-27 01:45] maurercw commented on #39
@kyleblythe Does that error happen after you apply my change in PR #86 ?  I fixed some stuff in there, but if you still get errors afterwards, then I need to look (and test) some more!

[2015-05-28 13:12] steveswinsburg commented on #39
Ugh I thought I merged that, so Kyle wouldnt have the change until now. Sorry. I've put it in now so it should get into the nightly for verification.

[2015-05-28 14:22] steveswinsburg commented on #47
Hello @payten , I've updated the EB return format for this. For a given gradebook it will now return a list like the following:

[code]

I'm considering requiring a timestamp on the request so that I can filter the returned list before it is returned. This is because there could be editing notifications on the stack already and then a user enters the gradebook but will still receive the out of dat

[2015-05-29 16:37] kyleblythe commented on #39
Hi @maurercw,

I tested again, and things are running much more smoothly! I'm now able to walk through the entire import process, and new GB items are able to be successfully created.

A few things I'm noticing, however:

1) The status screen is still showing inaccurate "Update" statuses when looking to an uploaded spreadsheet. Specifically, it seems like every GB item has an "Update" status, rega

[2015-05-31 10:28] steveswinsburg commented on #65
The gradebook API is inconsistent in its posting of events. Some actions send the `gradebook.updateItemScore` event, others don't do anything.

For the event that is posted, the data is:
`/gradebook/bd659b9b-4daa-403a-9b82-b5ddd38e33db/item 3bb/276aca5b-0820-4861-9046-b05e4527d952/99.0/instructor`

Which translates to: `/gradebook/siteid/assignmentname/studentuuid/grade/rolethatdidit`

[2015-05-31 10:38] steveswinsburg opened #95 "Add permission handling"
The tool currently requires full/admin permissions. We need to introduce some permission checking.

[2015-05-31 10:40] #85 closed, assigned to nobody

[2015-06-01 13:50] steveswinsburg commented on #91
Grade log is in. Comments next.

[2015-06-02 02:15] payten opened #98 "Section/Group filter"
Hi @steveswinsburg,

Just thought I'd add an issue for this feature.

I was going to jump in and have a go at implementing this via the Javascript, but quickly realised we haven't surfaced any of the user memberships in the DOM yet.

Is there a way we can get all the user's memberships quickly?  Or should we perhaps load all the group membership data in asynchronously?

Thanks,
Payten

[2015-06-02 04:04] steveswinsburg commented on #98
IIRC I have a stub for this in the backend. I think the question is after a group is selected,  is it a backend call to then filter the users? I think it would need to be, unless we get it all initially and serialize it into the Dom? There could be many groups for every student though...

[2015-06-03 01:51] payten commented on #98
Yep cool, that works for me.  Would that filter be passed through to the service to perform the filter there?  Or would we just filter the complete matrix once we have it?

[2015-06-03 12:36] steveswinsburg commented on #39
I think I found the error with this @maurercw.

The import is doing this:

[code]

The business service methods are:

[code]

The import code is using the first signature, so its putting he grade into the oldGrade slot and the comment into the new Grade slot, and the comment is being set to null.

I'll add you a new business service method.

[2015-06-03 12:51] steveswinsburg commented on #39
Ok I've adjusted that method signature to actually do what your code expects. Can you give it a try? it may need a bit more refactoring.

[2015-06-09 10:38] steveswinsburg commented on #98
Two options I can think of:
1. And probably simplest for now: Pass back to the backend with the filter then rebuild the matrix with just the matching users.
2. Returning the list of groups for each user as part of the matrix, but then serialise the groups into a data attribute on the user. Filtering would then be client side. Could add a lot of data into the dom.

Need to think about preserving th

[2015-06-09 12:53] steveswinsburg commented on #91
Hey @payten , I've added in a has-comment class to the cells when they have comments. This is also dynamically added if you add a comment to a cell without a comment.

Could we add that comment icon that we discussed for the cells that have the has-comment class?

[2015-06-10 11:50] steveswinsburg commented on #91
OK the wicket code should be done, assigned to @payten for the styles 👍

[2015-06-11 21:59] steveswinsburg commented on #47
COuld mave a message on the icon that is added to the cell that user X edited this cell at X time.

[2015-06-11 23:43] kyleblythe commented on #39
Hi @steveswinsburg and @maurercw ,

After some testing, it looks like updated grades are still failing to be reflected in the Gradebook following import.

I downloaded an up-to-date GB from this site: https://sandboxclasses1.home.nyu.edu/portal/site/0126c41b-71b2-468b-9550-b6e06d1793d4

I then updated all scores for item "Week 1 Part," as seen in the following:
http://www.screencast.com/t/CX56rdap

[2015-06-11 23:49] kyleblythe opened #101 "Import/Export - All items w/ cell values reporting "Update" status"
When going through the import process, the second screen (i.e., item selection screen) is displaying statuses of "Update" for all items containing cell values, regardless of whether those scores have actually been updated since being downloaded.

The "Update" status should only occur when an item's cell values have been modified outside of the system and are different than the scores that existed

[2015-06-11 23:52] kyleblythe opened #102 ""Undefined" Value Being Added to Cell Entries When Selecting "Enter" Too Quickly"
When quickly entering grade data into the interface, if the "enter" key is pressed too quickly (i.e., before the edit state has fully loaded), the typical "enter" behavior does not occur. Rather than saving the score and navigating to the cell below, an additional value of "undefined" is entered into the cell, immediately following whatever keyboard input was provided before.

Example: 70undefined

[2015-06-11 23:55] kyleblythe opened #103 ""Back" Behavior in Import/Export Not Displaying Items on Item Selection Page"
When navigating pas the item selection screen during the Import Export Process, if the "Back" button is pressed, returning to that second screen leads to the following bug:

Instead of displaying all items, only the items that were check-marked previously appear:
http://www.screencast.com/t/SpAtrcNh4C

The only way to display all items again is to reset the tool and start over.

[2015-06-11 23:59] kyleblythe opened #104 ""LDAP Timeout" Runtime Exception Error Message"
Randomly when loading the GB or navigating between screens in the Gradebook, an LDAP Timeout Runtime Exception error message occurs.

The following occurred when completing the Import/Export process:
http://www.screencast.com/t/tQsJuNmhzI

The following occurred when logging out of Sandboxclasses1, logging back in, and trying to enter the new Gradebook tool:
http://www.screencast.com/t/iMORGUYih

[2015-06-12 00:17] kyleblythe opened #105 "Additions to Import/Export"
The following are proposed additions to the Import/Export process:

~~**1. Item Selection Screen - Merging of Grade Item and Comments into Single Grouping**
Items and comments are currently displayed as separate importable items on the 2nd Import screen. Merge these together into a single grouping, with line breaks between groupings. The item and comment should still occur on separate lines, with

[2015-06-14 12:22] steveswinsburg commented on #102
Fixed in #107

[2015-06-14 12:22] #102 closed, assigned to nobody

[2015-06-15 05:13] payten opened #108 "When grouped by category, "Move Left" and "Move Right" changes standard order"
To replicate:
1. have more than two categories and more than 2 grade items per category
2. click "Group by Category"
3. open the menu for a grade item  and click "Move Right" (or "Move Left")
4. Page refreshes
5. Grade item has been moved right in non-categorised mode
6. click "Group by Category" again
7. Grade item has not been moved to the right of its category sibling

[2015-06-15 10:03] steveswinsburg commented on #108
The move left and move right only change the order within the gradebook service. Sounds like this also needs to call the reorder method for the category?

[2015-06-15 11:16] steveswinsburg commented on #91
Styles are done. The only thing not implemented here is the hover on the comment bubble and the ability to edit. We'll see how this goes with feedback before implementing

[2015-06-15 11:16] #91 closed, assigned to payten

[2015-06-15 21:25] steveswinsburg commented on #98
I think I'll do option 1 and store the current filter in the session. This would then match with the way I'm doing the sorting of the assignment grades where that flag also needs to be stored in the session. There will be a DTO that can be serialised that we can stick these bits and pieces into.

[2015-06-15 22:55] payten commented on #98
Ah cool - I was wondering to serialise those things.  I'd started to feel out 1) but had trouble attaching the group filter to the matrix listing/DataTable.  I'm still learning Wicket and the intricacies of it all.  Thanks for picking it up.

[2015-06-15 23:27] payten commented on #98
In regards to retaining state on page refreshes, I guess we have a few options:
- store the state on the session and maintain this state via the wicket filters plus some custom javascript to reestablish the state in the browser
- try to avoid page refreshes and let the browsers retain the state where possible

At the moment much of the state is established in the browser and we avoid page refreshe

[2015-06-16 01:10] payten opened #109 "DataTable and popup accessibility"
I've started a first pass at making the table more accessible for screen readers etc and I'm stuck on introducing a row header as per the spec e.g. http://www.w3.org/WAI/tutorials/tables/two-headers/.

Is there a Wicket-way of adding an `AttributeModifier` to all &lt;thead&gt;&lt;tr&gt;&lt;th&gt; to introduce `scope='col'` and a modifying the student name cell to be a &lt;th scope='row'&gt;?

Than

[2015-06-16 01:59] payten commented on #109
I've also been investigating adding aria attributes to the various popups in the interface.  `aria-haspopup` identifies an element as invoking a popup and `role="dialog"` will identify the resulting popup as a modal.  Similarly for our dropdown menus where `role="menu"`.

The trick is associating the link with the popup it invokes via an `aria-labelledby` or `aria-controls` using element IDs.

Is

[2015-06-16 06:26] payten commented on #109
Here's my first pass at adding aria attributes/roles: https://github.com/steveswinsburg/gradebookNG/compare/master...payten:accessibility-round-one

Admittedly the ARIA spec is as confusing as the implementations of the ARIA attributes are varied for different screen readers!  Without testing it in JAWS I'm not quite sure how helpful they are... but it's a start.

It'd be nice to at least have the

[2015-06-16 12:00] steveswinsburg commented on #109
Hi Payten,
There is a Jira here for adding some aria attributes to the modal windows:
https://issues.apache.org/jira/browse/WICKET-4472

Says its fixed in Wicket 6 so it might already be doable?

Re the uniqueID and dense HTML, yes we can set the ID in HTML and make sure it sticks by making a change in the class via `setMarkupId("something")`, however we will get collisions if that's inside a repe

[2015-06-16 12:40] steveswinsburg commented on #98
I'm going to give it a crack with the session state, bearing in mind we
don't want to bloat the session. It will be pretty similar to what you
described, fetching it from session right at the beginning and loading it
in. I can dump that into a DOM attribute if the JS will need it. Will see
how I go.

On Tue, Jun 16, 2015 at 9:27 AM, Payten Giles notifications@github.com
wrote:

[2015-06-17 05:06] payten commented on #109
Thanks @steveswinsburg.  Yep I think WICKET-4472 is working - I'm seeing a `role="dialog"` on those popups and with the `aria-haspopup` I've added to the button it might be good enough.

Back to the table... I've been looking into adding the `scope="col"` to the header cell and I'm unable to modify the &lt;th&gt; via `getHeader`.  The problem is that `getHeader` is a &lt;span&gt; within the &lt;th

[2015-06-17 05:30] payten commented on #108
Yeah exactly.  So when "Group by Category" is checked, the link needs to hit the other endpoint.  As this is currently a Wicket link, is there a way the Javascript can tell it to take into account the category scope?

[2015-06-18 00:08] maurercw commented on #101
@kyleblythe, can you attach an export of the before and then the modified version just so I have an example?  I've got some unit tests that pass and I've done local testing and cannot reproduce easily.
If you export the existing gradebook, and then try to reimport what you just exported without making any changes, does it think they are all updates?

[2015-06-18 00:10] maurercw commented on #101
Well, hang on, maybe I can reproduce!  Guess I spoke too soon!

[2015-06-18 00:41] maurercw commented on #101
@steveswinsburg, merge PR #111 and see if that fixes it.

[2015-06-18 01:55] maurercw commented on #103
Does the checked status of the item need to be retained, or just make sure that the full list is displayed?

[2015-06-18 02:02] maurercw commented on #103
@steveswinsburg, please merge PR #113 to see if this takes care of the issue.  I've got the full list rendering, but it doesn't re select the items you previously had checked.  Is that ok?

[2015-06-18 02:19] maurercw commented on #39
May finally have this one figured out.  Sheesh.  This one was hiding!

[2015-06-18 10:39] steveswinsburg commented on #101
Ok that's in. Give it a go.

[2015-06-18 10:41] steveswinsburg commented on #103
Ok thats in. I think just showing all items would be ok for now. @kyleblythe can you pls confirm?

[2015-06-18 11:07] maurercw commented on #39
@steveswinsburg  give PR #114 a try!

[2015-06-18 11:09] maurercw commented on #39
Bah, I think the comments aren't coming through.  Still closer though!

[2015-06-18 11:12] steveswinsburg commented on #39
Ok that is merged :+1:

[2015-06-18 11:32] steveswinsburg commented on #109
Hmm I might have to ask on the wicket mailing list. Let me see what they
say.

On Wed, Jun 17, 2015 at 3:06 PM, Payten Giles notifications@github.com
wrote:

[2015-06-18 21:04] steveswinsburg commented on #108
The checkbox click would probably need to fire a request to the backend, and we can stick this in the session state. This 'group by category' is not persistent right?

[2015-06-18 21:19] steveswinsburg opened #115 "Check comments come through from external gradebook items"
Ensure the comments are coming through for the gradebook items that come from external sources, eg Assignments

[2015-06-18 23:29] payten opened #116 "Combine all cell tooltips into one Bootstrap popover?"
Hi @steveswinsburg,

Thinking about tooltips for things within the cell and making them available via a click, I worry there'll be conflicts with the click behaviour to enter the edit mode and this might toy with the user's expectations of what the cell is and what a click does.

I was thinking an alternative might be introducing a single Bootstrap popover that displays upon focus of the cell and

[2015-06-19 00:05] payten commented on #116
Ooo this seems to be working mostly (in `GradeItemCellPanel#onInitialize`):

[code]

[2015-06-19 00:20] payten commented on #116
First WIP: https://github.com/steveswinsburg/gradebookNG/compare/master...payten:mobile-friendly-tooltips

So I guess we'd need an easy way of only inserted this attribute when required to avoid empty popovers for every cell.  But seems to be doable.. woot.

[2015-06-19 17:12] kyleblythe commented on #115
Hi @steveswinsburg,

To confirm:

Assignments
When originating from the Assignments tool, comments (entered as instructor notes) are passed back to the GB. They are not editable within the GB.

When not originating from the Assignments tool (associated with existing GB item), comments are NOT passed back to the GB. They are editable within the GB, but do not get reflected within the Assignments to

[2015-06-22 05:19] jeffpasch opened #120 "Add error messages at top of table with "view details""
When there are errors on the page, display error message above the grading table with the following:
- X no. of errors on this page
- "View details"
- Expanding "view details" will show (1) the location of each error using coordinates (i.e., user and item) and (2) the reason for error (e.g., concurrent edit). The coordinates of the error should be a link, which will take the user to that cell in t

[2015-06-22 05:34] jeffpasch opened #121 "Show details for concurrent edit in cell"
When a user hits a concurrent edit error, show error details when the user clicks on the error icon in the cell. The error message should read something like, "Kyle Blythe edited this cell at 3:15pm. Refresh the page to see the latest value."

We said we thought that since on a tablet this would be a tap, probably best to keep the action a click on desktop. Therefore, tooltip on mouseover could ju

[2015-06-22 05:35] jeffpasch opened #122 "Provide error details in cell"
Allow user to view error details by clicking on (or hovering over) the error icon in a cell. Clicking should bring up a small window overlaying the table with error message detail.

If error is because value is simply not saved (e.g., user has connectivity issues) serve message of "grade not saved"

If error is caused by concurrent edit, display information about who updated the cell and when. Det

[2015-06-22 05:43] jeffpasch opened #123 "show error when there's mismatch of cell value and DB only when user clicks on cell."
We talked about marking these cells in some way behind the scenes. (Polling will be every 6 seconds.) Will only show as an actual error to user when they click into a cell that has been marked as out of date with DB.

[2015-06-22 21:14] steveswinsburg commented on #109
OK I got this back. This means we need to rework the cells a bit which is not impossible, but is a big change. We may need to subclass Item and pass that in so we can override the onComponentTag method and set the tag name to 'th'. IMO lets leave this as an open issue and fix it after the main bits are done.

##

It's a little bit finicky, but it can be done:

[code]

In a future version we might

[2015-06-22 21:16] steveswinsburg commented on #39
@maurercw are we good to test this one?

[2015-06-22 21:18] steveswinsburg commented on #47
Closing this one off. The enhancements are tracked as new tickets.

[2015-06-22 21:18] #47 closed, assigned to nobody

[2015-06-22 22:23] payten commented on #109
Oo wowzers :)  Thanks for chasing that down!

And yep no probs.  I'll prepare the accessibility changes I've already done for a PR in the meantime.

[2015-06-23 01:31] maurercw commented on #39
It should save the grades ok, but not the comments yet.  Looking into the comments part now.

[2015-06-23 03:29] maurercw commented on #39
@steveswinsburg Looking at the saveGrade method in the GradebookNgBusinessService, it won't take into account adding only a new comment with an unchanged grade.  Is that what we want?  I think I have my changes in place to actually call the service in a reasonable way.  See PR #126 for the changes in the model to handle the comments from the import side.  Do you want to handle the service changes

[2015-06-23 03:32] maurercw commented on #105
Are these just wish list items and not bugs that need to be addressed?  I've actually taken care of item 1 already in some refactoring I just did (PR #126).

[2015-06-23 10:13] #108 closed, assigned to nobody

[2015-06-23 10:24] steveswinsburg commented on #105
Hi @maurercw yep you can leave these ones for the time being and we'll get the bugs nailed. Cheers!

[2015-06-23 10:26] steveswinsburg commented on #39
I can make the service changes, though I wonder if there is no grade it could instead call     `updateAssignmentGradeComment(final long assignmentId, final String studentUuid, final String comment)` ? That will touch just the comment. Would that work?

[2015-06-23 11:34] steveswinsburg commented on #56
Done. Sort order will persist through the session.

[2015-06-23 11:34] #56 closed, assigned to nobody

[2015-06-23 13:10] steveswinsburg opened #127 "Fix UI when no assignments or students exist"
If you create new site with no students or assignments, the gradebook tool shows some empty columns. We could probably intercept this and make it nicer.

![screen shot 2015-06-23 at 11 08 22 pm](https://cloud.githubusercontent.com/assets/129129/8306646/e37b8ce4-19fc-11e5-9796-686997f575b0.png)

[2015-06-23 13:22] steveswinsburg commented on #68
And by garbed I mean 'gradebook'. Thank you autocorrect.

Note the following behaviour:
- When a new site is added with gbng, a gradebook is bootstrapped.
- When gbng is added to an existing site, a gradebook is bootstrapped (if it doesn't exist).
- When gbng is removed from a site, no gradebook data is touched.
- When a site is deleted, the gradebook for that site (and data) is removed.

This is

[2015-06-23 13:22] #68 closed, assigned to nobody

[2015-06-23 13:38] steveswinsburg commented on #105
Hi @kyleblythe, I've committed a fix for 3,4 and 5 on this list. I can confirm that 1 is implemented too (thanks @maurercw).

To make it easier to see what is outstanding I've edited your original issue and added a strike through for those implemented, plus triaged the other issues to L/M/H effort. Cheers.

[2015-06-23 15:33] kyleblythe commented on #101
Hi @maurercw,

Just gave this another look, and while it seems that "Update" is no longer displayed when a spreadsheet with no changes is imported (http://www.screencast.com/t/ZelvRCsNo), the issue is still occurring as soon as any change is made to any item in the spreadsheet.

Here is a screenshot of the unchanged spreadsheet file:
http://www.screencast.com/t/c75Itwuwt7

I then modified scores o

[2015-06-23 15:35] kyleblythe commented on #103
Confirmed - looks good!

[2015-06-23 21:09] steveswinsburg commented on #103
Thanks for the confirmation kyle, looks good from here too. Closing! :+1:

[2015-06-23 21:09] #103 closed, assigned to nobody

[2015-06-23 21:20] steveswinsburg commented on #104
Have you got this error again? This come from the LDAP provider, most likely surfaced through a call to getUser. I havent checked this hypothesis, but that may be a RuntimeException which we can explicitly catch and maybe retry the call. It's not an error in the GB code though.

[2015-06-25 12:58] steveswinsburg commented on #75
I'm going to close this off. Grade Stats is a biggy and deserves a new ticket.

[2015-06-25 12:58] #75 closed, assigned to steveswinsburg

[2015-06-25 13:45] #69 closed, assigned to nobody

[2015-06-25 13:49] steveswinsburg commented on #64
This needs to be backed out now the perf issues are sorted.

[2015-06-25 14:03] steveswinsburg commented on #57
in progress

[2015-06-25 21:15] steveswinsburg opened #128 "Alignment issue with cell dropdowns"
Hey @payten I just noticed this one.

See screenshot. The dropdown in both header and item cells seems to be a bit higgeldy piggeldy.

Looks like it could be dependent on assignment title length, and possibly if the cell has a value. That middle one is external so maybe its to do with the changed rendering on that too. hmm.

![screen shot 2015-06-26 at 7 13 05 am](https://cloud.githubusercontent.c

[2015-06-25 21:21] steveswinsburg commented on #98
To finish this off we need to hook up the sections/groups to the session state and the matrix builder. On to it.

[2015-06-25 21:34] steveswinsburg opened #129 "Limit the length of the gradebook comment"
This is currently a longtext which is far too large. 1000 longtext/clob type gets will bring down a server. This must be cut down to something much shorter, perhaps 500 characters.
DB upgrade will need to truncate data.
Submit to sakai jira.

[2015-06-25 22:03] steveswinsburg commented on #55
Show percentage for category. If this doesnt already have a service API method to calculate it,  looks like summing up the scores, ignoring blanks and those that arent included in course grade calculation, and displayed as a percentage of total points possible for the sum of all assignments in that category.

![screen shot 2015-06-26 at 8 01 33 am](https://cloud.githubusercontent.com/assets/129129

[2015-06-26 02:05] maurercw commented on #101
Oops!  I'll take another look.

[2015-06-26 02:26] maurercw commented on #39
It all depends on where you want the logic to check if the grade needs saving or if the comment needs saving.  If you want to just add a comment check in your `saveGrade` method, then that could call off to the `updateAssignmentGradeComment` instead?

[2015-06-26 02:37] maurercw commented on #101
@kyleblythe My first pass is unable to reproduce.  Any chance Excel is changing values on you?  The export might have a .0 at the end of the grades...maybe Excel is dropping that off?  I'll try a bit more though.

[2015-06-26 02:42] maurercw commented on #101
Yeah, I think that might be it.  I opened one of my exports in excel and just saved it without making any other changes and it converted a whole bunch of stuff.  Removed quotes (probably a non-issue) and dropped any .0 from scores.  So, maybe a question is should the .0 be in the export at all?  Are the scores just integers?  Looking into that a bit...

[2015-06-26 06:54] payten commented on #128
Heh yeah.. unfortunately table cells don't support absolute positioning.  So these left and right aligned elements are positioned within the cell's first block element (which has a `position: relative`).

There are a few solutions:
1. replace the table with all divs - probably not an option?
2. use javascript to size the div inside the table cell as the same height and width of the table cell - th

[2015-06-26 13:52] kyleblythe commented on #101
Hi @maurercw ,

Ah, I think that's it! Yep, we should not be using decimal places in the export format (unless an existing score explicitly had a decimal in place e.g., 72.8). We should default to integers, both because excel definitely auto-formats .0 to a standard integer, and because it matches the formatting of the Gradebook grades screen, which doesn't display .0's.

[2015-06-26 22:56] steveswinsburg commented on #101
The scores are stored as doubles (ie decimals) however in the UI we just strip the .0 via `StringUtils.removeEnd(grade, ".0")` so I reckon just do that. Is a score of say 12.3 treated ok or is that also modified by excel?

[2015-06-26 23:01] steveswinsburg commented on #39
I reckon have it up in the import logic to call the appropriate method. We have a response that comes back saying no change, but really there is a change being made, so that would be need to be reworked.

[2015-06-26 23:05] steveswinsburg commented on #128
Ok will leave as known issue for now. Can revisit later maybe.

[2015-06-26 23:31] steveswinsburg opened #131 "Add the permission page"
Gradebook _classique_ had a rule based permission page, not a standard permission helper style page.
This allows building a set of rules for individual graders.
This needs to be implemented.

From looking through the code, it looks like there is API code to be ported too as its currently only handled in the GradebookManager...

![screen shot 2015-06-27 at 9 29 17 am](https://cloud.githubuserconten

[2015-06-26 23:34] steveswinsburg opened #132 "Add the settings page"
Add the settings page. This is a rollup of all of the settings pages in Gradebook _classique_

[2015-06-26 23:45] steveswinsburg commented on #129
https://jira.sakaiproject.org/browse/SAK-29595

[2015-06-27 03:10] maurercw commented on #101
@steveswinsburg Please see PR #133.

[2015-06-27 03:56] maurercw commented on #39
@steveswinsburg See if PR #134 does the trick.

[2015-06-27 12:20] steveswinsburg commented on #129
Added some validation on the edit comment window and methods to cater for this.

[2015-06-27 12:20] #129 closed, assigned to steveswinsburg

[2015-06-29 12:25] steveswinsburg commented on #39
I think we are almost there.

If I update a grade and comment for an assignment, then that one is marked with changes and the others are 'No change'. :white_check_mark:
Also, the grades appear to be imported correctly and when I go back to the Gradebook they are updated :white_check_mark:

But I found two bugs :cry:

**1** if a grade is over limit (ie 200 in a 100 point assignment) then I get a re

[2015-06-29 12:27] steveswinsburg commented on #101
Nice one, verified.

[2015-06-29 12:27] #101 closed, assigned to nobody

[2015-06-29 12:29] steveswinsburg commented on #104
I've received this error on the NYU sandbox servers before, in other tools, so I'm going to close this one as its not gradebook specific. @kyleblythe if you guys havent seen it, I may be able to reproduce and then one of the NYU guys can look through the logs.

[2015-06-29 12:29] #104 closed, assigned to nobody

[2015-07-01 02:02] maurercw commented on #39
I'll take a look at 2 now...
I have no idea why that page looks so terrible!  It might be a simple css issue relating to the way that content is embedded?  I'll try to take a look and see if anything obvious pops up.

[2015-07-01 02:13] maurercw commented on #39
Is the non-import version of that page used in a popup?

[2015-07-01 02:26] maurercw commented on #39
Grr...my life would be easier if the GradebookService's addAssignment method returned the id of the created assignment.  Any chance we can make that change?  I guess I could do it and make a PR!

[2015-07-01 02:40] steveswinsburg commented on #39
Yeah that page is the same as add gradebook item, but needs to updated to
be like edit gradebook item which looks nicer and works. I had that on my
list if you are out of hours?

Feel free to submit PR for that gradebook service change if we need it.

sent from my mobile device
On 1 Jul 2015 12:26, "Chris Maurer" notifications@github.com wrote:

[2015-07-01 02:43] maurercw commented on #39
We don't "need" it, but it'd save me an extra service call to get all the assignments again.  I'll take a quick look and see if I can do a PR for it.

[2015-07-01 03:18] maurercw commented on #39
FYI, submitted sakai PR in case you want to review and merge: https://github.com/sakaiproject/sakai/pull/779

[2015-07-01 06:30] steveswinsburg commented on #39
OK it's in.

sent from my mobile device
On 1 Jul 2015 1:18 pm, "Chris Maurer" notifications@github.com wrote:

[2015-07-01 12:41] maurercw commented on #39
Cool, see if PR #136 now does the trick for the import error.

[2015-07-01 13:43] steveswinsburg commented on #39
Hey @kyleblythe  I think sandbox will need a rebuild for you to get this as it is an upstream sakai mod. @payten are you able to kick this one off? Everything merged on both sakai and gbng fronts. :+1:

[2015-07-02 02:10] payten commented on #116
This is done and merged into master.

[2015-07-02 02:10] #116 closed, assigned to nobody

[2015-07-02 13:35] steveswinsburg commented on #57
Done. Needs a bit of testing to figure out how it should work if the spreadsheet is sorted by both assignment AND name, and if one should take precedence or another should be reapplied afterwards.

[2015-07-02 21:32] steveswinsburg commented on #95
Initial thoughts from the call this morning:
- When rendering the cells, check the permissions. If instructor, all good. If can edit, all good. If can view, just show score. If can't see anything, grey out the cell (or some other style), hide the comment bubble, hide the dropdown.
- Disable reordering/hiding for TA's. If you can view the category, show grade statistics
- If not allowed to view the

[2015-07-04 14:32] steveswinsburg commented on #98
This is now complete. High five very nice. :+1:

[2015-07-04 14:32] #98 closed, assigned to steveswinsburg

[2015-07-05 01:04] payten commented on #98
Works great! :fireworks:

[2015-07-05 03:41] steveswinsburg commented on #98
Awesome

sent from my mobile device
On 5 Jul 2015 11:04 am, "Payten Giles" notifications@github.com wrote:

[2015-07-07 12:59] steveswinsburg commented on #39
Hey @kyleblythe could we get one final pass on this one to close this out? Cheers :smile_cat:

[2015-07-09 11:43] steveswinsburg commented on #55
This is done, awaiting on https://github.com/sakaiproject/sakai/pull/839 though.
The other thing is that the category calcs are a little slow, so we should wrap this in a
`if(settings.isCategoriesEnabled())` block in the UI and also pass that flag to the backend. This will mean it only does the work if the checkbox is checked. However I'm leaving it as is so we can discuss, then I'll make that cha

[2015-07-09 12:27] steveswinsburg commented on #55
A few things left to do:
- Add applicable CSS classes and ARIA attributes
- Guard calls with the categoriesEnabled flag.
- Pass this flag to the matrix builder to save it doing the work

[2015-07-09 18:36] jeffpasch commented on #55
Hey Steve. Kyle and looked at this and we're seeing some issues with scrolling right/left: http://screencast.com/t/GBLT5P7UWUm

[2015-07-10 13:47] kyleblythe commented on #95
After our last call, I think that we arrived at the following permissions handling:
- If an instructor, all good.
- If a TA with the ability to grade a category, provide all grading abilities.
  - Remove ability to reorder item columns (both via drag 'n drop and the accessible options in items' drop-down menus).
- If a TA with the ability to view a given category, just show the scores.
  - Do not

[2015-07-10 14:19] kyleblythe commented on #39
Success! New GB items are successfully added, scores/comments are added/edited, and statuses are accurately reflected.

CSV file can also be successfully renamed on the client's side, and import will still occur as expected.

We're good to go on this.

[2015-07-10 14:27] kyleblythe opened #139 "TAs Appearing in the GB's Spreadsheet View/Export CSV"
Just noticed this when testing import/export, and wanted to raise this really quick:

It looks like users with the role of "Teaching Assistant" are currently appearing as students to be graded within the spreadsheet interface.
- Site Info screen: http://www.screencast.com/t/GLr6FJVil
- New Gradebook Grades view: http://www.screencast.com/t/Mog5FYcI
- GB Classic view: http://www.screencast.com/t/nM

[2015-07-11 22:00] steveswinsburg commented on #139
Ok this explains the issue of the grades not appearing as well. We fetch the grades for all students per assignment. So if one of those users throws the exception, the assignment is skipped. So when you had that student viewing it, it showed nothing as they didn't have permission. And when you were instructor it was also throwing the error because TAs were in the list.

As discussed, when you pass

[2015-07-11 22:18] steveswinsburg commented on #39
Nice one. Thanks @kyleblythe and @maurercw :)

[2015-07-11 22:18] #39 closed, assigned to nobody

[2015-07-11 22:50] steveswinsburg commented on #139
Ok this should be done and will appear on nightly soon, @kyleblythe can you please confirm? This should also fix the issue you saw with the scores not appearing. If so, high fives all round.

[2015-07-11 22:51] steveswinsburg opened #140 "Add student view"
We need a student view. This should be similar to the student summary.

[2015-07-11 22:52] steveswinsburg commented on #57
To do:
- change wording to order by first name / order by last name

[2015-07-11 22:53] steveswinsburg opened #141 "Make course grade column header clickable to sort asc/desc"
Make course grade column header clickable to sort asc/desc

[2015-07-11 22:53] steveswinsburg opened #142 "Make Student Name column header clickable to sort asc/desc"
Make Student Name column header clickable to sort asc/desc

[2015-07-12 03:22] steveswinsburg commented on #57
Done.

[2015-07-12 03:22] #57 closed, assigned to steveswinsburg

[2015-07-12 14:32] steveswinsburg commented on #55
Discussed on the call. Category columns will always display so no need to check the settings and pass that through to the backend. Still need classes and aria attributes, will be done separately.

[2015-07-12 14:32] #55 closed, assigned to steveswinsburg

[2015-07-14 13:08] steveswinsburg opened #145 "Gradebook doesnt show point grades if set to display as percentages"
Using the old gradebook tool, go to gradebook setup and set display as percentages. Go to gradebookNG. The grades will display as percentages but still show the total possible as a point value. If you edit any item you will get a concurrent editing error as they no longer match the points.
<img width="622" alt="screen shot 2015-07-14 at 11 08 08 pm" src="https://cloud.githubusercontent.com/assets/

[2015-07-14 20:55] kyleblythe opened #146 ""Percentage" Grade Entry Type"
Provide the ability to enter grades as percentages into the spreadsheet interface, if the "Percentage" grade entry type is selected in the GB settings.

If the "Percentage" grade entry type is selected:
- Remove the " / [total points]" element that appears within the cell when editing it.
- Add a " % " into the cell when it is being edited.
- If the cell value is empty/null, keep the cell empty. H

[2015-07-16 12:12] #140 closed, assigned to steveswinsburg

[2015-07-16 12:12] steveswinsburg commented on #140
Work complete. May get a CSS tweak.

[2015-07-16 12:16] steveswinsburg commented on #64
Leaving it in whilst we add more features, this is a simple one to back out later.

[2015-07-16 13:07] #115 closed, assigned to nobody

[2015-07-16 13:07] #139 closed, assigned to nobody

[2015-07-16 21:23] steveswinsburg commented on #146
For reference, Gradebook _classique_ has percentage grade precision to 2 decimal places (12.34%) and points grade precision of 1 decimal place (eg 12.3).

[2015-07-16 21:23] steveswinsburg commented on #145
This will be resolved in #146

[2015-07-16 21:23] #145 closed, assigned to nobody

[2015-07-16 21:33] steveswinsburg opened #147 "Course grade / release to students checkboxes"
In order to include this item in course grade calculations it must be released to students.

[2015-07-17 03:42] payten commented on #122
I think this was delivered previously with the enhancements to the cell popover notifications.

Currently there's one generic error message when something stops the grade from saving (not taking into account the concurrency check).  @steveswinsburg, @jeffpasch, are there any particular backend exceptions we would like a descriptive error message for?

[2015-07-21 03:22] payten opened #151 "AjaxEditableLabel under iOS/touch screen doesn't focus input"
In investigating better mobile compatibility I've come across an issue with the AjaxEditableLabel on touch devices.  To replicate:
1. open the gradebook in an iOS simulator or iPad
2. tap once on a score cell to focus
3. tap again to invoke the AjaxEditableLabel
4. the input will display however will not be focused
5. tap to focus inside the input
6. the input reverts to the label before the keybo

[2015-07-21 04:54] payten commented on #151
Just had a play with replacing AjaxEditableLabel with a TextField and OnChangeAjaxBehaviour - I wonder if something like this (https://github.com/payten/gradebookNG/commit/bbce353aed36d609756102bc7432e8c11a10c3b8) could be an option?  It would mean the input field is always in the DOM and only POSTs to submit the value, the iOS touch event would focus input and we wouldn't have that lag as the lab

[2015-07-22 11:53] steveswinsburg opened #153 "Fix the TODOs"
A number of TODO items have been flagged in the code so they can be addressed later. These need to be looked at.

[2015-07-23 22:16] steveswinsburg opened #154 "Review permission handling in entityprovider"
Getting this in the logs:

[code]

Need to review how the permissions are checked in the entity provider, and allow TA to access some of the calls.

[2015-07-23 23:04] payten commented on #151
Perhaps worth mentioning here too:  Kyle reported a performance issue whereby entering the edit mode felt sluggish.  This could be due to either network latency/the round trip required to load the input field combined with the click-delay required to distinguish between a cell-focus and a click-to-edit.

Note: A distinct click to focus is now required before allowing a click to edit.  This was to

[2015-07-24 02:08] payten opened #155 "Inconsistent isAnotherUserEditing results"
I've noticed that the isAnotherUserEditing endpoint isn't behaving consistently.  When a change is detected, we get the result:

GET: http://localhost:8080/direct/gbng/isotheruserediting/test-site.json?_=1437702110654

[code]

6 seconds later we poll again however the changes are no longer visible:
GET: http://localhost:8080/direct/gbng/isotheruserediting/test-site.json?_=1437702110655

[code]

I'

[2015-07-24 02:10] payten commented on #155
Hm... the cache is definitely shared between the users.. after logging the hashCode of the `cache`:

[code]

[2015-07-24 02:18] payten commented on #155
Aha! I think this is our culprit:

[code]

It deletes the user's notifications out of the cache sometimes before the other user gets a chance to see it.  @steveswinsburg I might need you to double check my logic.

[2015-07-28 10:29] steveswinsburg opened #162 "NaN when clicking around in the datepicker"
I just noticed this when clicking around in the datepicker. If you open the picker, then click the textarea between the two buttons at the bottom, you get `NaN/NaN/NaN aN:te`.

It also seems to flash to that value when you choose a date but is then replaced by the correct date.

[2015-07-28 10:46] steveswinsburg commented on #147
Fixed.

[2015-07-28 10:46] #147 closed, assigned to nobody

[2015-07-28 10:47] steveswinsburg commented on #84
Done in PR #150 and #157.

[2015-07-28 10:47] #84 closed, assigned to nobody

[2015-07-29 01:09] payten commented on #155
Fixed in PR #156.

[2015-07-29 01:09] #155 closed, assigned to nobody

[2015-07-30 20:43] jeffpasch opened #165 "Red error message sometimes remains at top with no text"
It looks like this: https://www.evernote.com/l/AI3X093PmE1LaZkJ1aR0IwjDUNnTZTwi6VE

One way to replicate is to generate an error in a cell, then enter more than enter a value over the amount of points in another cell.

Or get an error then just refresh the page.

[2015-07-30 21:08] steveswinsburg commented on #165
<img width="1023" alt="screen shot 2015-07-31 at 7 07 27 am" src="https://cloud.githubusercontent.com/assets/129129/8995130/e2f786e2-3752-11e5-9429-8ffc2cc07467.png">

[2015-07-30 21:22] steveswinsburg opened #166 "erroneous concurrent edit if warning on cell and value doesnt save"
To reproduce:
1. Have a cell with a valid value
2. Enter a letter or some other symbol, will return a warning
3. Enter a number to fix it up
Concurrent error will display, because the Letter wasn't stored but was passed in as the original grade, however the DB has the grade in step 1.

To fix this we should catch bad input and reset it back to the original.

[2015-07-30 21:23] steveswinsburg commented on #166
The concurrent error message text should be fixed as well.

[2015-07-30 21:29] steveswinsburg opened #167 "Add support for gradebook.coursepoints.displayed for student view"
If `gradebook.coursepoints.displayed = true`, have an option in the settings page that allows the instructor to toggle on/off the course grade as points.

Likewise, add a setting for the percentage grade display.

The backend will need to check this setting and get the appropriate course grade. The front end will then need to render the appropriate columns.

[2015-07-31 17:52] kyleblythe commented on #167
In Settings, beneath the option to "Display Course Grade to Students Now," provide a series of checkboxes for instructors to select which course grade options will display to students.

By default, "Letter" and "Percentage" will be selected, though the instructor can modify this. Additionally, the "Points" option will be available, if categories and weighting have not been enabled within the GB.

[2015-07-31 17:58] kyleblythe opened #168 "Course Grade Display Type - Instructors and TAs"
Within the "Course Grades" column header in the spreadsheet view, provide an option for "Course Grade Display Type."

This should open a lightbox window that will allow for instructors and TA's (if given the ability to see course grades) to be able to determine what displays within the course grades column.

By default, "Letter" and "Percentage" should be selected, though the user can modify this.

[2015-07-31 17:58] kyleblythe commented on #168
![2015-07-31_13-58-14](https://cloud.githubusercontent.com/assets/11447474/9013805/387a36bc-378c-11e5-9642-415994f511fb.jpg)

[2015-07-31 18:04] kyleblythe opened #169 "Course Grade Override & Log"
Within individual students' Course Grade cells, provide a drop-down menu containing options for a) Grade Override, and b) Override Log.

For Grade Override:

Provide a lightbox window, wherein the instructor may see the course grade info for the selected student (same as the current "Course Grades" screen in GB1), as well as provide a course grade override. Additionally, provide the ability to nav

[2015-07-31 21:06] kyleblythe commented on #66
When clicking on a student's grade summary, the lightbox window that opens should provide the following:

Default view - "Instructor View"
- In the default view, all content behind the lightbox remains visible.
- All grades/items should be visible, regardless of their release state.
- Iconography from the item column should be represented, denoting EC, unreleased, not included in grade calc.
- Tex

[2015-08-01 23:22] #162 closed, assigned to nobody

[2015-08-04 19:45] jeffpasch opened #173 "Column and cell dropdown behavior with scroll and clicking out"
Column and cell dropdown behavior can stick a around a bit longer than needed. To replicate:
1. click on cell or column header dropdown. Click into another cell. > dropdown menu remain.
2. scroll left to right and menu is floating around like a champ.
3. click into edit mode of another cell and then out of edit mode and it seems to go away.
4. click on another column header and it also seems to go

[2015-08-06 11:14] #165 closed, assigned to steveswinsburg

[2015-08-06 11:17] #166 closed, assigned to nobody

[2015-08-06 14:51] kyleblythe opened #174 "Reorder Capability for Student Info Columns"
Provide ability to change the ordering of the two student info columns ("Students" and "Course Grade"), so that the user may determine whether the students' names or their course grades should appear next to the grade item columns.

These columns should be draggable within the context of the static student info area, and should also have "Move Left" or "Move Right" options within the header drop-d

[2015-08-06 14:57] kyleblythe opened #175 "Hidden Item Visual Cue"
In addition to the notification within the GB menu ("Showing X out of Y Items"), provide an additional visual cue to denote when an item/column has been hidden.

Following the model of Excel/Google Sheets, provide an indicator between the column headers for the items on either side of the item that has been hidden (such as arrows pointing in opposite directions). When these arrows are clicked, the

[2015-08-06 15:16] kyleblythe opened #176 "Additions to "Add Gradebook Item""
A few additions/tweaks to the "Add Gradebook Item" screen and resulting item creation:
- Category info note when GB is not set with categories or cat & weighting: Rather than provide an empty dropdown menu or no category info at all, provide a note stating "No categories have been created."
- Category percentage: If categories & weighting are in place, provide the category's percentage in parenthe

[2015-08-06 15:31] kyleblythe opened #177 "Validation/Warning Message for "Set Score for Empty Cells""
Provide data validation for the "Set Score for Empty Cells" screen, preventing users from accidentally supplying an invalid (e.g., negative number or letter/symbol) score that would affect multiple cells.

Additionally, if the user supplies a score in this field that is in excess of the item's maximum points, provide a lightbox warning/confirmation window that users must interact with in order to

[2015-08-06 15:34] kyleblythe opened #178 "Permissions Screen - Course Grade Visibility Checkbox"
Introduce new checkbox in the permissions screen that grants explicit visibility access for final course grades based off the section permissions granted to the TA.

This checkbox option ("Allow TA to see course grade for selected section(s) below") can appear once an initial rule is added on the permissions screen. It can sit above the rules themselves, and will be by default selected.

This opti

[2015-08-19 04:32] jeffpasch opened #184 "Resize Student Name and Course Grade Columns"
Give more room for name and stack "Course Grade" header text. Note that we'll eventually need to fit letter grade, Percentage to 2 decimal places and letter grade.

[2015-08-19 06:35] payten opened #185 "Cell/table related bugs"
- ~~Grades do not seem to getting saved enter grade, then refresh~~ #192
- For EC, if you reenter the same score, the + does not come up.
- when popover in last few rows, need to scroll down to see it.
- warning icon appearing in items originating from other tools - possible to treat entire cell as clickable button for popover?
- “Delete” option appearing for item originating from other tool
- Cel

[2015-08-19 06:36] payten commented on #185
All fixed in PR #182.

Re:  "warning icon appearing in items originating from other tools" -- we need to retain the icon as all popovers are now on the icon. So I've replaced the warning icon with a locked icon and styled it so it doesn't stand out too much.

[2015-08-19 06:38] payten opened #186 "Student grade summary enhancements"
As per minutes from the call:
- Get rid of item weights in weight column, but show the category weight
- Status icons should show up just to the right of the item
- Condense to 70% width
- Keep “Next Student/Previous Student” visible and scroll inside of it
- Pull Course Grade value closer to the label
- normal lightbox treatment when in “Grade Summary,” Sexy Shower Glass, when in “Student Review

[2015-08-19 06:41] payten commented on #186
All delivered in PR #183.

Re: " Sexy Shower Glass" -- I have a lovely, even sexy, solution that works nicely in Firefox, Chrome and Safari (https://github.com/steveswinsburg/gradebookNG/compare/master...payten:bringing-sexy-back).  Unfortunately IE versions 9-11 don’t support the CSS blur filter, and with that, the sexiness is sunk.  As such, we'll retain the opaque dark mask when the student vie

[2015-08-19 06:43] payten opened #187 "Bring Student view into line with student grade summary"
Match the “Student Review Mode”.

[2015-08-19 06:46] payten commented on #128
I was able to find some CSS to provide a 100% width, 100% height inner div to allow absolute positioning in the cell.. hurray!  This should ensure the dropdown menu and notification icons will be in consistent positions regardless of the height of the row or width of the column.

[2015-08-19 07:38] steveswinsburg commented on #128
Oh nice one!

sent from my mobile device
On 19 Aug 2015 4:46 pm, "Payten Giles" notifications@github.com wrote:

[2015-08-19 14:25] kyleblythe commented on #105
Updated issue to include requirement for additional export options (as per GB tech call on 8/13).

[2015-08-20 11:52] steveswinsburg commented on #184
Done in #190.

[2015-08-20 11:53] steveswinsburg commented on #187
Done in #189

[2015-08-20 18:58] kyleblythe commented on #186
Hi @payten ,

This is looking great. The page width, layout, iconography all look great. A few things I noticed:
- The weighting for the category is displaying in parentheses next to the category name, while the current subtotal is displaying under the "Grades" column: http://www.screencast.com/t/0kkqcezuQs. Wondering if this might be confusing. Would it make more sense to reintroduce a "Weight" c

[2015-08-20 19:04] kyleblythe commented on #185
These are all looking good. The only one that still seems to be occurring is the first bullet ("Grades do not seem to getting saved enter grade, then refresh"). The GB still seems to be referring to a specific state (e.g., "?132"), which won't display saved grades when the page reloads. A refresh of the tool itself fixes it.

[2015-08-20 19:06] kyleblythe commented on #175
Looks great! I think we're good on this one.

http://www.screencast.com/t/54CZbm9zP

[2015-08-20 19:12] kyleblythe commented on #128
Looking fantastic! Minor thing - looks like the positioning of the drop-downs in column headers is set slightly more to the left than in the cells below: http://www.screencast.com/t/3mx2iyRZSvMp.

Can we have the positioning of these column drop-downs match that of the cell drop-downs?

[2015-08-20 20:52] jeffpasch commented on #123
confirmed. Note that pencil icon will show that someone else is editing the cell.

[2015-08-20 20:52] #123 closed, assigned to jeffpasch

[2015-08-20 21:26] payten opened #192 "Grades do not seem to getting saved enter grade, then refresh"
When grades are entered and successfully saved in the GB, refreshing the page results in the GB referring to an older state (e.g., "?132"), and the newly added grades do not appear. Resetting the tool fixes this.

[2015-08-20 21:28] payten commented on #185
Thanks @kyleblythe - I conveniently missed that one!  I've created a new issue for that bug: #192.

[2015-08-20 22:29] payten opened #193 "Investigate mechanism to target CSS at IE (namely IE9-11)"
As the blur effect does not work in IE9+, is there a mechanism available to target these browser versions to deliver a suitable fallback.

[2015-08-20 23:14] payten commented on #186
Re: weighting - yep can pull that column back in.  And that column would be blank for grade item rows?

Re: shower glass - I've created an issue to investigate a mechanism to target CSS to IE9-11 #193 and therefore support a reasonable fallback.  Unfortunately, in implementing Edge for IE10 and 11, they decided to drop support for the old IE filters (including a blur feature) but are yet to provid

[2015-08-20 23:19] steveswinsburg commented on #192
The grade should be saved in the backend, the issue is the page cache on
refresh re renders the old values. There was work in #35 to look at this
but the fix wasn't so elegant, needs more time.

On Fri, 21 Aug 2015 07:26 Payten Giles notifications@github.com wrote:

[2015-08-21 00:57] payten commented on #128
Hm also looks like there's a regression in Firefox:
<img width="1306" alt="screen shot 2015-08-21 at 10 56 30 am" src="https://cloud.githubusercontent.com/assets/608337/9399131/541d77f4-47f3-11e5-813a-d4a05b87e829.png">
- Cell overflow/height issue
- Also narrower widget for Grade column not applying (see #184)

[2015-08-21 00:58] payten commented on #184
Not working in Firefox:

<img width="1306" alt="screen shot 2015-08-21 at 10 56 30 am" src="https://cloud.githubusercontent.com/assets/608337/9399141/81fa1524-47f3-11e5-9c1b-6b6227b2947d.png">

[2015-08-21 01:06] payten commented on #193
Normally we could use HTML conditions which is how the Sakai 9/10 portal would deliver an IE specific stylesheet.  Unfortunately it turns out IE 10+ doesn't honor HTML conditions anymore. Fail :cake:.

So, in lieu of some Sakai framework helpers to detect agents, we might be able to target IE9-11 with some down and dirty CSS trickery:

[code]

This will ensure the black opaque mask for IE users bu

[2015-08-21 01:14] payten commented on #185
Closing as only remaining bug has been pulled into its own issue #192.

[2015-08-21 01:14] #185 closed, assigned to payten

[2015-08-21 01:18] payten commented on #66
Hi @steveswinsburg - just bouncing this one to you for some help.  The last requirement for this modal is a confirmation popup when closing the Wicket window, as per:

Happy to hack at it if you can point me in the right direction!

[2015-08-21 01:58] payten commented on #128
Crap, turns out Firefox doesn't play nice: http://davidwalsh.name/table-cell-position-absolute and when I apply the suggested workaround, all the other browsers play up and our fixed headers/columns display incorrectly...  too late to replace the table with divs?! ;)

I'll roll out the previous patch and we'll be stuck with slightly off positioned things.

[2015-08-21 16:05] kyleblythe opened #196 "Category Subtotals/Course Grades are Reflecting "Null" Values"
Category subtotal percentages (within the subtotal columns/student summary/student view and when calculated in the Course Grade) are reflecting null values, calculating them as 0's.

E.g., A category contains two items, each worth 100 pts. Student receives a 90/100 on one item, with no value supplied to the second. Category subtotal should display as 90% (90/100), but is instead displaying as 45%

[2015-08-21 16:09] kyleblythe opened #197 "Show/Hide Items Slowness When Dealing with Entire Categories/Many Students"
There is slowness when showing/hiding items when there are many students (and therefore many cells) in place.

There are also delays when showing/hiding entire categories of items.

[2015-08-21 16:12] kyleblythe opened #198 "Restrict ability to apply extra credit items to an extra credit category"
When creating a GB item, if an extra credit category is selected for the item, prevent the "Extra Credit" checkbox from being selectable for the item, thereby restricting both the item and the category from being extra credit at the same time.

[2015-08-21 16:15] kyleblythe opened #199 "Clear all notifications/icons upon tool reset"
Resetting the tool should clear all existing notifications/icons and reload relevant notifications/icons (i.e., concurrent edit notifications/icons should be cleared).

E.g., http://www.screencast.com/t/kBEL3DO7

Latest successful changes should also be pushed to other users.

[2015-08-22 23:48] steveswinsburg commented on #186
I am pretty sure we can open another window on closing, however the
original window would be closed, I dont think we could hook all of the
callbacks in. The simplest way would just be a standard javascript confirm
though.
The other option is to just use one modal for it all, and completely
replace the contents of the first modal window with a confirmation screen,
and then if they click OK, then cl

[2015-08-26 03:39] payten commented on #199
@steveswinsburg this seems like a tricky one.  Currently we store the edit notifications on a shared cache (c/o `MemoryService.java`) in the service and this cache doesn't seem to be invalidated.  Maybe that's ok, but that would mean the user's wicket instance would need to be able to distinguish between current notifications and those that are stale.

As we pull these notifications in via ajax an

[2015-08-27 20:50] jeffpasch commented on #184
yup looks good in Chrome, FF, and Safari now.

[2015-08-27 20:50] #184 closed, assigned to jeffpasch

[2015-08-27 20:55] jeffpasch commented on #122
I believe we decided in the last call that one generic error message is ok. They'll get the info on who else is editing via the pencil icon

[2015-08-27 20:55] jeffpasch commented on #122
I believe we decided in the last call that one generic error message is ok. They'll get the info on who else is editing via the pencil icon

[2015-08-27 20:55] #122 closed, assigned to jeffpasch

[2015-08-27 20:57] jeffpasch commented on #121
This can be closed. It relates to 122.

[2015-08-27 20:57] #121 closed, assigned to jeffpasch

[2015-08-27 21:03] kyleblythe commented on #187
Hi @steveswinsburg ,

Sorry if this is a repeat of what we discussed last week, but noticed the "ready to test" label on this one. We're still seeing the following "Something went wrong" error message when testing these permissions from the TA's view:

http://www.screencast.com/t/saKaD6rr

[2015-08-27 21:17] kyleblythe commented on #131
Hi @steveswinsburg ,

We're seeing the following "Something went wrong" error message when testing these permissions from the TA's view:

http://www.screencast.com/t/saKaD6rr

[2015-08-27 21:26] jeffpasch opened #201 "test"
test

[2015-08-27 21:31] jeffpasch commented on #201
test close

[2015-08-27 21:31] #201 closed, assigned to nobody

[2015-08-27 21:42] kyleblythe commented on #186
Hi @payten ,

Just to clarify on where the weight column would appear - GB1 displays it after the "Grade" column:

http://www.screencast.com/t/0XtNHXUjfC

And yes, the items would display as blank, with a percentage appearing at the category-level.

[2015-08-27 23:59] payten opened #202 "Student is unable to access category information (score, weight)"
I couldn't find a way for a student to access the category data from the service?  It seems that the user needs `isUserAbleToViewAssignments(gradebookUid)`. Can this be made more permissive? Or is there another way we can get the student's category average and weight as a student user?

[2015-08-28 00:04] payten commented on #193
It was decided on the weekly call to merge the blur effect as described with a fallback for Internet Explorer.

[2015-08-28 00:04] #193 closed, assigned to payten

[2015-08-28 00:24] payten commented on #187
I've created a new issue to investigate how we can expose the category score and weight to the student. Currently the permissions on the Gradebook service don't allow a student to access this information #202.

[2015-08-28 00:26] payten commented on #186
PRs have been submitted for weight column and blur effect.

I've created a new issue as I don't think students have permission to access category score and weight data from the Gradebook service: #202.

[2015-08-28 00:49] payten opened #205 "Exception when accessing tool as a Teaching Assistant"
It was raised on the call this week that the tool is throwing an exception for Teaching Assistants.

To replicate, I first added a TA and granted VIEW on a single category and all students.  When logged in as the TA, accessing the Gradebook got stuck at this point:

[code]

... still no reply after 5minutes and it seems to be stuck in `businessService.buildGradeMatrix`.

Changing the VIEW to GRADE

[2015-08-28 01:42] payten commented on #197
After profiling the JavaScript with a Gradebook containing 13 items and 100 students, I noticed that when hiding or showing all columns it took around 2 seconds to complete the action with much of the time being spent refreshing the summary, visual cue and fixed table header.

To fix, I've changed the JavaScript to only refresh these dependant components once if multiple columns are being toggled

[2015-08-28 04:24] payten commented on #131
Regarding the "Something went wrong", I've created an issue that has some more details #205.

I've also added some styles to the form and the TA's EID to the dropdown as per today's call #207.

[2015-08-28 05:53] payten commented on #177
I've had a go at this one.  If the mechanism for showing the close confirmation modal on the student drilldown popup doesn't make you vomit then I'll submit a PR with a similar implementation for this stuff: https://github.com/steveswinsburg/gradebookNG/compare/master...payten:set-score-validations

[2015-08-28 15:57] kyleblythe opened #208 "Drop-down menus no longer opening"
Drop-down menus within cells/column headers no longer appear upon selecting the drop-down icon.

[2015-08-28 18:03] kyleblythe commented on #169
Additional details re: Grade Override:

To allow flexibility / precision for override grade entry, ideally we could provide multiple entry fields within the "Grade Override" column - one for letter grade entry (with + / - capability), one for percentage grade entry, and one for points (if using the standard GB setup or unweighted categories. This should be unavailable / hidden if using Categories

[2015-08-28 22:43] payten commented on #208
Hm.. it looks like there's been a core change to include the Bootstrap framework by default (see https://github.com/sakaiproject/sakai/commit/fdb93118007d631885790039b344624cfd40c750).  I imagine that's conflicting with our own.  I think we'll will need to remove our own inclusion of Bootstrap and hope that doesn't break anything too much!

[2015-08-30 20:32] steveswinsburg commented on #196
I have a fix for this just testing it out.

[2015-08-31 10:28] steveswinsburg commented on #205
The first one is interesting. Not sure why it got stuck? is that reproducible?
The second is probably still to do with how the permissions are applied to the list of users, which is annoying, but I can use this to dig into it. Thanks.

[2015-08-31 11:56] steveswinsburg commented on #196
This is fixed in https://github.com/sakaiproject/sakai/pull/1029, awaiting a build check then will be merged.

[2015-09-01 00:38] payten commented on #205
Hm I'm able to replicate locally.  I have a course site, one student, one instructor, one TA and one grade item (no categories). The instructor gives the TA view access to all assignments and all students.  When trying to hit GradebookNG as the TA the requests never returns. Stepping through the code, I'm seeing an iterator loop forever (?):

[code]

~~Does that seem plausible?~~ Aha, in my case,

[2015-09-01 12:00] steveswinsburg commented on #177
Yeah I reckon the popup is good. Go for it!

[2015-09-01 12:03] steveswinsburg commented on #199
Re timestamp, yes, said exactly the same thing in #47 :) I reckon we could store this in the DOM to keep the pages a bit more stateless, then the AJAX calls could pick it out and send it. The timestamp would need to be set when the page is rendering. WDYT?

[2015-09-01 12:04] steveswinsburg commented on #199
Re clustering, I am actually unsure of the state of this in 10+. Probably not a killer as the notifications should be picked up on next backend call?

[2015-09-01 12:26] steveswinsburg commented on #202
Hey @payten, the simplest way here is probably to just add the `CategoryDefinition` for the category into the `Assignment`, which I can add into the Assignment mapper in the GB service. It already adds a few of the fields, we can just add them all. But that would just be the settings info as per the fields in `CategoryDefinition`. Note that some fields from the category are already set into the `s

[2015-09-01 21:45] payten commented on #199
Re: timestamp - I think putting the timestamp in the page is fine.  But wouldn't this timestamp need to be the time the tool was last reset not when the page was last refreshed?  As grades are cached in the user's Wicket session, notifications will still apply even after a user has refreshed the page.

Re: clustering/concurrent edits - It might be worth raising this as a separate "Known Issue".

[2015-09-01 21:51] payten commented on #202
Sounds good. And I believe we're after the calculated category score.  This is for use on the student's view of the gradebook and the "Student Review Mode" tab of the student grade summary popup.

[2015-09-01 21:56] steveswinsburg commented on #199
Grades are fetched each time the page is fully rendered, hopefully I can
make the reset and browser refresh the same thing.

sent from my mobile device
On 2 Sep 2015 7:46 am, "Payten Giles" notifications@github.com wrote:

[2015-09-01 22:06] payten commented on #199
Ah great that sounds like the ticket.

[2015-09-02 15:21] kyleblythe commented on #208
Hi @payten ,

The drop-downs are now appearing again, which is great. Quick formatting bit that I noticed - with the new native bootstrap, drop-down options are now appearing as underlined. Can we remove this formatting to clean up the drop-downs?

![2015-09-02_11-16-57](https://cloud.githubusercontent.com/assets/11447474/9635443/89ae6732-5164-11e5-9902-52e8efaa4a0f.png)

[2015-09-02 15:22] kyleblythe commented on #197
Looks good! This issue can be closed.

[2015-09-02 15:22] #197 closed, assigned to kyleblythe

[2015-09-03 10:46] steveswinsburg commented on #202
Hmm, I'm not seeing anything in the service that should be stopping the categoryaverage from being returned for a student. What error are you seeing?

Also, the `StudentGradeSummaryGradesPanel` does a lot of manual work with the grades and figuring out categories, are we able to shift that back into the business service so the logic is all back there? WDYT?

[2015-09-03 10:48] steveswinsburg commented on #131
Ok I'm going to close this and work on the bug in #205. #207 merged.

[2015-09-03 10:48] #131 closed, assigned to steveswinsburg

[2015-09-03 10:54] steveswinsburg commented on #205
OK I can reproduce also. On it.

[2015-09-03 11:08] steveswinsburg commented on #205
Ok infinite loop issue should be fixed. Bug in permission service. Security Exception next.

[2015-09-03 17:52] kyleblythe commented on #186
Hi @payten ,

Looks absolutely fantastic. Love the blurring effect, the placement of the weight column, and the close confirmation. A few quick things:
- Looks like there's a little bit of visual weirdness occurring with the comments rows when in Student Review Mode:

![2015-09-03_13-42-59](https://cloud.githubusercontent.com/assets/11447474/9666116/3728af02-5242-11e5-92bd-2fb7836f205f.png)
- Can

[2015-09-03 17:55] kyleblythe commented on #196
Hi @steveswinsburg ,

Looks great. The subtotals are now ignoring null values. Thanks!

![2015-09-03_13-54-48](https://cloud.githubusercontent.com/assets/11447474/9666339/6e1e1ee2-5243-11e5-8613-9fe27e412057.png)

[2015-09-03 17:55] #196 closed, assigned to steveswinsburg

[2015-09-03 17:57] kyleblythe commented on #66
Hi @payten ,

Looks great. I made a few add'l notes in #186 .

[2015-09-03 21:24] steveswinsburg commented on #66
Cool I think we can close this one. More stuff tracked in #186.

[2015-09-03 21:24] #66 closed, assigned to kyleblythe

[2015-09-03 21:46] steveswinsburg commented on #202
Oh and for weight, if you have the Assignment, the getWeight is actually the category weight:
`assignmentDefinition.setWeight(internalAssignment.getCategory().getWeight());`

However Assignments inherit their weighting from the category so within a category they are all the same.

Had a chat with Kyle, in the student drill down, the only cell that will have the weight on it is the category. So is

[2015-09-03 21:56] steveswinsburg commented on #178
Checkbox is done and permissions are saved, just need to hook this into the actual display of the course grade.

[2015-09-03 22:00] steveswinsburg commented on #95
Closing this as the permission handling is being addressed in other tickets.

[2015-09-03 22:00] #95 closed, assigned to nobody

[2015-09-07 13:09] steveswinsburg commented on #205
Ok this should now be done. The issue was the new view_course_grade was setting null values for the category and groupId, however the permission check was getting the permissions for categories/groups where the values was null, in effect saying any category could be viewed. So this is now corrected and the permission checks are more explicit.

in addition, the list of categories visible for a TA a

[2015-09-07 13:20] steveswinsburg opened #210 "Assignment modification functions are available to a TA"
Modification functions like editing, moving and deleting assignments are available to a TA via the column header dropdown. They don't do anything but they should be suppressed.

<img width="612" alt="screen shot 2015-09-07 at 11 18 30 pm" src="https://cloud.githubusercontent.com/assets/129129/9717543/f8a5645a-55b6-11e5-8aee-047c593d2e45.png">

[2015-09-07 13:32] steveswinsburg opened #211 "Add TA permission handling for view/grade permissions within the cells"
Permissions are complete however the rules need to be applied to the rendering of the cells.
Perhaps this can be attached into the grade item when rendering the matrix.

[2015-09-07 13:36] steveswinsburg commented on #210
Also the Add Gradebook Item button.

[2015-09-07 13:40] steveswinsburg commented on #210
OK, the whole menu is hidden unless instructor. Likewise for add gradebook item. The permission restrictions can be relaxed a bit when the grade stats go in and if we want TA's to access any of this.

[2015-09-07 20:30] steveswinsburg commented on #211
Current design thinking is that after fetching the gradesdefinition and when iterating it, if TA, perform a lookup here to determine if user can grade. Backend call to lookup the VIEW or GRADE permission for student and item, taking in account grades and categories and add to the GbGradeInfo.

[2015-09-08 01:43] payten commented on #202
Ah great, pulling the weight from the assignment works a treat - thanks!

As a student, I'm having trouble getting the category average due to the permission error below.  From what I can see, the category average is calculated in `gradeInfo = buildGradeMatrix(...)` and then accessible via `gradeInfo.getCategoryAverages().get(myCategoryId)`. Perhaps all we need to do is move that calculation behav

[2015-09-09 17:34] kyleblythe commented on #208
Looks good!

[2015-09-09 17:34] #208 closed, assigned to kyleblythe

[2015-09-09 18:45] kyleblythe commented on #176
Hi @payten,

The category info / percentage and auto-scrolling are looking great. The only thing I'm still noticing is, when grouped by category, the newly created GB item doesn't appear to be getting added on the far-right (bullet 3 above):

![2015-09-09_14-43-31](https://cloud.githubusercontent.com/assets/11447474/9771013/588d69da-5701-11e5-8c54-733883673ebd.png)

[2015-09-09 18:49] kyleblythe commented on #177
Loving it.

The extra-credit pop-up that appears at present seems to load above the original lightbox:

![2015-09-09_14-47-07](https://cloud.githubusercontent.com/assets/11447474/9771088/c7a858ac-5701-11e5-9390-0a1e9e655b1d.png)

Can we get this popup to load on top of the existing lightbox (like the close confirmation for the "Student Review Mode")?

Additionally, it looks like invalid entries ca

[2015-09-09 23:56] payten commented on #176
Hi @steveswinsburg, in regard to #216, this is pretty much done in the Javascript at present as the category order XML isn't always in sync with reality.  Ideally we would update the `GradebookNgBusinessService.addAssignment` method to at least try and keep the XML more in sync, however as assignments can be imported and also created via the old Gradebook tool it completely bypasses our service le

[2015-09-10 04:12] payten opened #218 "Ability to clear a score"
Hi @kyleblythe, @jeffpasch, @steveswinsburg,

I was wondering if there's a requirement for an instructor to clear a score?  We currently allow a score to be zero or a positive number, but I noticed in the old gradebook you could remove a score by clearing the input field and clicking Save Changes.

I can imagine a case where an instructor wants to clear a bunch of scores before applying the "Set S

[2015-09-10 04:37] jeffpasch commented on #218
Ah right. I hadn’t noticed that. Yeah, I think we’ll need to allow for that. An instructor could start to enter a bunch of scores in a column then realize they’ve entered for the wrong gradebook item.

I think they’d try to delete these values as they would in excel or google sheets—by highlighting the cell and simply hitting the delete key. Or they’d click into the cell to edit and remove the val

[2015-09-10 05:49] payten commented on #218
Thanks @jeffpasch.  I think we can easily support the "click to edit and remove value" mechanism.  The "hitting delete key" might require a custom endpoint (please correct if I'm wrong @steveswinsburg) as the Wicket editable label needs the input to be present before the update can be performed -- basically the cell is readonly and only becomes editable once Wicket pulls in the input field when th

[2015-09-10 10:16] steveswinsburg commented on #176
Yeah I don't think we can do much about the order unless we get this
sorting into the backend, which requires more complex changes.
But this is great for now.

cheers,
Steve

On Thu, Sep 10, 2015 at 9:56 AM, Payten Giles notifications@github.com
wrote:

[2015-09-10 10:19] steveswinsburg commented on #218
I reckon its ok as a first slice if the grader needs to edit each cell to
remove the grade. We can handle this really simply when checking if a grade
was sent.
Longer term we could probably support the delete key mechanism, perhaps we
should raise onto the backlog for future work for that feature.

On Thu, Sep 10, 2015 at 3:49 PM, Payten Giles notifications@github.com
wrote:

[2015-09-10 11:38] steveswinsburg commented on #198
Done. Ready for testing. Requires SAK-29883

[2015-09-10 16:42] kyleblythe opened #219 "Bug When Sorting by One Item Then Sorting By Another"
When sorting by Gradebook items, a bug occurs after sorting by one item, then attempting to sort by another. The sort will work for the first item (and will continue to work when switching between ascending/descending sort within that item), but once a second item is selected, the GB will continue to sort within the first item, not the second.

[2015-09-10 16:44] kyleblythe opened #220 "Misc. Text Changes in GB"
A list of miscellaneous text changes within the GB is available in the following doc:

https://docs.google.com/document/d/10XCIjcDQZXAPxavjq7mDXmph8WZupCgfa2P2jVw6Vc8/edit?usp=sharing

[2015-09-10 19:23] kyleblythe commented on #187
Hi @payten,

The category weighting is looking great, both in the instructor's "Student Review Mode" and the actual student view. It looks like the instructor "Student Review Mode" is capable of displaying an "N/A" category subtotal percentage if there are items that are not included in course grade calculations. Can we replicate that in the student view?

Additionally:
- Looks like a "/100" appea

[2015-09-10 19:24] kyleblythe commented on #198
Looks good!

[2015-09-10 19:24] #198 closed, assigned to kyleblythe

[2015-09-10 21:43] steveswinsburg commented on #202
Yep I think we could move that calculation around - I'll have a look at a way for students to get the category info. Possible issue is the Assignment list in the categorydefinition, but that could maybe be changed to be the AssignmentDefinition DTO instead of the full Assignment.

[2015-09-11 13:39] kyleblythe opened #223 "TA - Duplicate items/categories appearing when multiple permission rules are applied"
When a TA is granted multiple permission rules that provide overlap for a given category, the category's items are duplicated in the TA's view.

E.g., TA is granted "View" access to ALL categories in the Gradebook, but "Grade" access to only 1 category (let's call it "Homework"). When the TA views the GB, they will see all of the items in "Homework" twice. One instance of the "Homework" items are

[2015-09-11 13:41] kyleblythe opened #224 "Ordering of sections/groups in TA Permissions screen"
When applying permission rules to TA's, the section/group drop-down menu is listing different sections above "All sections/groups."

http://www.screencast.com/t/2twVV1Pgwnw

[2015-09-11 13:42] kyleblythe opened #225 "Save confirmation when applying rules for TA permissions"
When saving permission rules for a given TA, provide a save confirmation message.

[2015-09-11 13:52] kyleblythe opened #226 "Section Awareness for "Set Score for Empty Cells," with persistent confirmation message"
Provide section awareness for the "Set Score for Empty Cells" functionality in GB items, allowing for scores to be applied to empty cells on a section-by-section (or group-by-group) basis. A new drop-down menu within the "Set Score for Empty Cells" lightbox will allow for instructors/TAs to choose the section/group for which to apply scores (with, in the case of TAs, this being restricted by the s

[2015-09-11 14:02] kyleblythe opened #227 "New Icons for TA view"
Provide 3 new in-cell icons/popover messages for TA view.

'You do not have the ability to view scores for this section/group.' - appears when TA is able to see a given item column (because they have view/grade access for a given section/group), but does not have view/grade access for another section.

'You have view-only access for this item.' - appears when TA is able to "View" a given item colu

[2015-09-14 11:18] steveswinsburg commented on #223
Reproducable. The bug is a long standing one in `GradebookService.getViewableAssignmentsForCurrentUser`.

Under the above settings, the assignment list is duplicated.

This is because the checks will satisfy BOTH:
`if (getGradebookPermissionService().getPermissionForUserForAllAssignment(gradebook.getId(), userUid)) {
     assignmentsToReturn = getAssignments(gradebookUid);
 }
`
_and_ the following

[2015-09-14 12:18] steveswinsburg commented on #223
Bug fixed in https://jira.sakaiproject.org/browse/SAK-29890  and PR in https://github.com/sakaiproject/sakai/pull/1069

[2015-09-14 12:34] steveswinsburg commented on #224
This is now fixed.

[2015-09-14 13:04] steveswinsburg commented on #202
OK this is a bit tricky. The GradebookService has a few checks in there that are failing to run if a student. We are going to need a specific implementation for getting a categoryscore for a student.

[2015-09-14 14:02] steveswinsburg commented on #202
See https://jira.sakaiproject.org/browse/SAK-29891

[2015-09-14 14:04] steveswinsburg commented on #202
This is in progress, just need to test and adjust the methods.

[2015-09-17 14:46] kyleblythe commented on #224
Confirmed!

[2015-09-17 14:46] #224 closed, assigned to kyleblythe

[2015-09-17 14:49] kyleblythe commented on #220
Hi @payten ,

These look great. Sorry, one more quick text change:

For the Extra Credit cell popover message, can we change the text read as follows:

Score is over item's maximum point value and is providing extra credit.

Thanks!

[2015-09-17 14:50] kyleblythe commented on #218
Confirmed!

[2015-09-17 14:50] #218 closed, assigned to kyleblythe

[2015-09-17 14:52] kyleblythe commented on #176
Confirmed!

[2015-09-17 14:52] #176 closed, assigned to kyleblythe

[2015-09-17 15:35] kyleblythe commented on #186
Confirmed!

[2015-09-17 15:35] #186 closed, assigned to kyleblythe

[2015-09-17 15:37] kyleblythe commented on #177
Hi @payten ,

Looks like the popup is loading behind the original "Set Score for Empty Cells" lightbox:

![2015-09-17_11-36-01](https://cloud.githubusercontent.com/assets/11447474/9937828/6070a6a0-5d30-11e5-8b07-c0fdfb78fddd.png)

[2015-09-17 20:50] kyleblythe commented on #210
This looks good. Can revisit once the section awareness for "Set Score for Empty Cells" / "Grade Statistics" options are in place.

[2015-09-17 22:21] payten opened #230 ""Release item to students" can be deselected when "Include item in course grade calculations" is checked"
To replicate:
1. "Add Gradebook Item" and check both "Release item to students" and "Include item in course grade calculations"
2. Save!
3. "Edit Item Details" for the new assignment
4. Click "Release item to students" and "Include item in course grade calculations" remains checked

[2015-09-18 00:58] payten commented on #199
Hi @steveswinsburg.  I've worked through the solution described above, namely I've added a timestamp to the isAnotherUserEditing API call to return only cell changes made after that time and the JavaScript creates this timestamp upon the first page loading  -- https://github.com/steveswinsburg/gradebookNG/compare/master...payten:fix-for-sticky-concurrent-edits

I noticed that the scores are still

[2015-09-23 19:37] kyleblythe commented on #219
Looks good.

[2015-09-23 19:37] #219 closed, assigned to kyleblythe

[2015-09-23 19:43] kyleblythe commented on #230
looks good!

[2015-09-23 19:43] #230 closed, assigned to kyleblythe

[2015-09-23 19:45] kyleblythe opened #235 ""Edit Item Details" as a lightbox window"
When "Edit Item Details" is selected for a GB item, have the resulting open in a lightbox window instead of a new window.

[2015-09-23 19:50] kyleblythe commented on #220
Looks good!

[2015-09-23 19:50] #220 closed, assigned to kyleblythe

[2015-09-23 19:53] kyleblythe commented on #177
Confirmed.

[2015-09-23 19:53] #177 closed, assigned to kyleblythe

[2015-09-23 19:59] kyleblythe opened #236 "Change order of columns in Grade Summary / Student Review Mode / Student View"
Update the ordering of columns in the Grade Summary / Student Review Mode / Student View to be as follows (order listed left-to-right):

Gradebook Item
Grade
Weight
Due Date
Comments

[2015-09-23 20:04] kyleblythe opened #237 ""-" as Course Grade when no scores are present for student"
When no scores have been provided for a student (and their course grade therefore is a null value), provide a dash (i.e., - ) as the displayed value in that student's "Course Grade" column, replacing the current "F."

[2015-09-23 20:06] kyleblythe opened #238 ""-" as Category Subtotal when no scores present in category"
Instead of the current "N/A," provide a dash (i.e., - ) as the value in category subtotal columns when no scores are present for the student in that category.

[2015-09-23 20:09] kyleblythe opened #239 "Dynamic Updating of the Course Grade / Cat Subtotal Column Values"
As scores are entered into the GB, live-update the values for category subtotal percentages and the Course Grade column.

[2015-09-23 20:14] kyleblythe opened #240 "Icon in Course Grade column denoting when Course Grade is not visible to students."
Include the crossed-out eye icon in the Course Grade column header when the Course Grade has not been made visible to students. Include alt text along the lines of the following:

Course grade has not been released to students.

[2015-09-23 20:18] kyleblythe commented on #205
Will complete testing when #211 is in place.

[2015-09-23 20:20] kyleblythe opened #241 "Add grade validation for negative scores"
Add validation for negative scores, separate from other invalid values.

[2015-09-23 20:30] kyleblythe opened #242 "Disable "Include in course grade calc" checkbox when item is not assigned to category"
When creating (or editing) a GB item, disable the "Include in course grade calculations" checkbox if a category has not been selected for the item. Once a category is selected, enable the checkbox.

[2015-09-23 20:32] kyleblythe opened #243 "Check "release" and "include in grade calc" checkboxes by default"
When creating a GB item, check the "Release to students" and "Include in course grade calculations" checkboxes by default.

If using categories & weighting, once a category is selected (thereby enabling the "Include in course grade" checkbox), check it by default.

[2015-09-23 21:13] payten commented on #199
Prerequisite: #35

[2015-09-24 05:49] payten commented on #239
Hi @steveswinsburg, I've had a quick go at this, but a little unsure of the best-practice Wicket way of doing things:

https://github.com/steveswinsburg/gradebookNG/compare/master...payten:magic-course-grades

Works a treat!  But storing the labels on the GradebookPage context feels a little strange...Let me know if I'm on the right track and I'll prepare a PR.

[2015-09-25 07:17] payten commented on #239
After doing some reading, we could be able to do this using the Wicket event bus and broadcasting a custom event when a score is updated.  The course grade and category average cells can override onEvent and check for the custom event and if the studentuuids match, then update themselves.  I'll look into this next week.

[2015-09-25 07:35] payten commented on #242
Just to confirm, does this behaviour only apply when the Gradebook has been setup with "Categories & Weightings"? Or should it apply also when "Categories Only" is selected?

[2015-09-25 23:22] payten commented on #242
If the original Gradebook is to believe, then we want to disable the "Include in course grade calculations" checkbox when category is empty for both "Categories Only" and "Categories & Weightings".

[2015-09-27 09:36] steveswinsburg commented on #202
PR here: https://github.com/sakaiproject/sakai/pull/1119
I have an associated business method to commit once this is in.

[2015-09-28 10:48] steveswinsburg commented on #202
OK @payten this should be good to go now.

[code]

[2015-09-28 12:20] steveswinsburg commented on #178
This one should be ok to test now. The TA should get a - instead of the course grade when viewing.

[2015-09-28 12:29] steveswinsburg commented on #225
Ready to test.

[2015-09-28 12:31] steveswinsburg commented on #223
Fixed in GradebookService, this should be gone in GBNG now.

[2015-09-29 11:00] steveswinsburg commented on #210
Closing for now to reduce the noise.

[2015-09-29 11:00] #210 closed, assigned to nobody

[2015-10-01 13:44] kyleblythe commented on #240
Confirmed

[2015-10-01 13:44] #240 closed, assigned to kyleblythe

[2015-10-01 13:45] kyleblythe commented on #238
Confirmed

[2015-10-01 13:45] #238 closed, assigned to kyleblythe

[2015-10-01 13:48] kyleblythe commented on #236
confirmed

[2015-10-01 13:48] #236 closed, assigned to kyleblythe

[2015-10-01 13:55] kyleblythe commented on #225
Confirmed

[2015-10-01 13:55] #225 closed, assigned to kyleblythe

[2015-10-01 14:00] kyleblythe opened #250 "Additional rules appear after saving TA permissions"
Upon entering and saving permissions for a TA, the resulting screen refresh w/ save confirmation shows an additional rule tacked on below the existing rules. It looks like the the "Add rule" box gets automatically selected, which will result in a "Can View All Categories in All Sections/Groups" rule  appearing beneath the existing rules. Selecting "Clear change" will remove this.

http://www.scree

[2015-10-01 14:03] kyleblythe commented on #178
Confirmed!

[2015-10-01 14:03] #178 closed, assigned to kyleblythe

[2015-10-01 14:05] kyleblythe commented on #205
Confirmed.

[2015-10-01 14:05] #205 closed, assigned to kyleblythe

[2015-10-01 14:22] kyleblythe opened #251 ""View" permissions for TA's throwing "Something Went Wrong" error"
When a TA has "view" access to any categories within the Gradebook, the resulting TA view allows the TA to enter edit mode for these items. Upon trying to save a score, they receive the following "Something went wrong" error screen:

org.apache.wicket.core.request.handler.ListenerInvocationNotAllowedException: Behavior rejected interface invocation. Component: [TextField [Component id = editor]] B

[2015-10-01 14:26] kyleblythe commented on #223
The duplicate category items are no longer appearing. I wonder if this somehow is related to #251 , however.

[2015-10-01 15:58] kyleblythe commented on #241
Confirmed.

[2015-10-01 15:58] #241 closed, assigned to kyleblythe

[2015-10-01 16:00] kyleblythe opened #252 "When invalid score is entered, keep score in field and direct users to refresh page to see last saved"
When an invalid score is saved (resulting in the triangle "warning" message), retain the invalid score in the field along with the warning message. This allows the user to see what score is causing the error message. Within the possible warning messages, provide additional text notifying the user to refresh the tool in order to see the last saved score.

[2015-10-01 20:55] steveswinsburg commented on #251
This will be fixed with #211 which is almost complete.

[2015-10-01 20:55] steveswinsburg commented on #223
Indirectly related to #211.

[2015-10-01 20:56] steveswinsburg commented on #223
Three tickets referencing same feature so I'm going to close this one off since the categories are sorted out now.

[2015-10-01 20:56] #223 closed, assigned to steveswinsburg

[2015-10-07 10:12] steveswinsburg commented on #237
I think this needs to go into the gradebook service as it is there where the course grade is calculated.

[2015-10-07 10:20] steveswinsburg commented on #250
Confirmed, if the checkbox to view course grade is checked.

[2015-10-07 10:43] steveswinsburg commented on #250
This should now be fixed. Accidentally referenced 211 so it won't show up here :sob:

[2015-10-08 14:15] kyleblythe commented on #242
Confirmed

[2015-10-08 14:15] #242 closed, assigned to kyleblythe

[2015-10-08 14:16] kyleblythe commented on #243
Confirmed

[2015-10-08 14:16] #243 closed, assigned to kyleblythe

[2015-10-08 14:20] kyleblythe commented on #250
Confirmed

[2015-10-08 14:20] #250 closed, assigned to kyleblythe

[2015-10-08 14:27] kyleblythe commented on #202
Since students can now access the category subtotal score/weight, I think this one's good to go?

[2015-10-08 14:32] kyleblythe opened #256 "Remove "N/A*" from Student Review Mode Cat Subtotal and Show Subtotals in Student View"
Currently, we have an "N/A*" appearing as the category subtotal score in the "Student Review Mode" when the category contains an item that has not been released to students. The student view does not show the subtotal score at all when this is the case.

Since items that are not released to students are ALSO not included in course grade calculations, there is no need to hide the subtotal score. As

[2015-10-08 14:33] kyleblythe opened #257 "Disable "Group By Category" option when there are no categories in GB"
Alternatively, hide the button entirely.

[2015-10-08 14:37] kyleblythe opened #258 "Allow "Show/Hide Items" Menu to be Closed by Clicking Outside of Menu"
Currently, the menu's button must be clicked again in order to close the menu.

[2015-10-08 14:40] kyleblythe commented on #175
Hi @payten,

Might it be possible to use triangle icons (similar to what you find in google) as the visual cue for otherwise hidden items?

Example (showing the default v. hover states):

![2015-10-01_17-33-36](https://cloud.githubusercontent.com/assets/11447474/10369564/f22d8d78-6da8-11e5-87ea-0838ca6162aa.png)

[2015-10-08 19:44] #202 closed, assigned to payten

[2015-10-08 20:26] steveswinsburg commented on #237
The ‘F’ comes from the gradebook service and any change to this would be a modification to the gradebook service which may affect other tools. We should just handle this in our business service and override the course grade if there are no grades for the student.

[2015-10-08 20:31] steveswinsburg commented on #146
The setting works, need to follow through the logic flow as it returns the concurrent error, presumably it’s using the point grade underneath, so that needs to be made aware. Also need some UI work to make it show percentage in the cell. Cells probably also need to be aware of the setting.

[2015-10-08 21:10] steveswinsburg commented on #237
Pushed a fix for this. If the student has no grades entered the course grade is overriden to a -

[2015-10-08 21:34] payten opened #259 "Item ordering is not persisting after tool reset"
As reported in the 10/1/2015 team call.

[2015-10-08 21:38] payten opened #260 "Revisit the "Group by Category" setting"
From the 10/8/2015 team call.

Currently the "Group by Category" button state is stored on the user's session, such that resetting the tool will return this value to false.

I think we have a few options:

1) Persist the setting to the site properties so resetting the tool retains the state
2) Default the "Group by Category" to ON if the Gradebook has categories, that way resetting the tool will r

[2015-10-09 11:01] payten commented on #187
Hey @kyleblythe.  I think this one might be sorted now category averages are correctly displaying :)

[2015-10-11 09:17] payten commented on #256
Hi @kyleblythe.  Just had a look at this one.  Currently the service doesn't distinguish between released and not released items when calculating the category average.  @steveswinsburg, I have a feeling this might require a change to the Gradebook service?

[2015-10-12 09:15] steveswinsburg commented on #256
Yep that's correct. Currently the category score calculation logic has these three conditions:
1. Assignment actually has points
2. It's not extra credit
3. There is a grade for the student

Shall I add:
4. the assignment is released?

[2015-10-12 11:48] steveswinsburg opened #263 "Importing a spreadsheet with a lot of changes can take a while"
And it's possible that the user will click to import again or click away.
We need some sort of overlay saying that the import is running, buttons to be disabled, or to spawn a new thread and have it run in the background.

We also probably need to lock the entry of grades while its running. Sounds like we are going to need some multithreading here to solve this.

[2015-10-12 13:52] kyleblythe commented on #256
Hi @steveswinsburg ,
1. Re: "released" assignments, are we referring to the item being released/not released to students, or it being included/not included in course grade calculations? Because I don't really think that the item being released to students matters, since there's the dependency between that and the calculation status. If an item is not released to students, it's also not included in

[2015-10-13 10:26] steveswinsburg commented on #256
Hi @kyleblythe,

Yes, by 'released' I mean the setting "Release item to students?" that can be applied on the assignment. Currently it ignores the setting and always includes it. So if the assignment is included in the course grade then it's all good (as by default it is also released), but if it's not part of the course grade, then it may or may not be released, but will still be included regardl

[2015-10-13 12:30] steveswinsburg commented on #211
PR #264 is in so this should now be resolved.

[2015-10-13 12:30] steveswinsburg commented on #251
PR #264 is in so this should now be resolved.

[2015-10-14 01:08] kyleblythe commented on #256
Hi @steveswinsburg,

I chatted with Jeff about this earlier. I think that the release status of an item doesn't matter as much as the course grade calc inclusion when it comes to subtotal scores. When an item is released to students and included in course grade calculations, it makes sense for it to be included in subtotal calculations. When the item is released to students but not included in cou

[2015-10-14 01:23] kyleblythe commented on #237
Hi @steveswinsburg ,

In a fresh course site w/ gradebook items and no scores, the dashes are showing up. However, in an existing site, students that at one point had scores that have since been deleted are still showing a course grade of "F":

![2015-10-13_21-20-14](https://cloud.githubusercontent.com/assets/11447474/10472613/47d6ff8e-71f0-11e5-9fb0-da0ba4fd15b6.png)

Fresh site URL: https://sand

[2015-10-14 01:54] kyleblythe commented on #187
Student view's looking great, @payten . Thanks!

[2015-10-14 01:54] #187 closed, assigned to kyleblythe

[2015-10-14 10:26] steveswinsburg commented on #237
Ok this is because they still actually have grades, but it's blank - might be a comment there too.
The current fix checks if they have any grade records and under this particular condition, it will say they do. So rather than just checking if they have grades, we would need to inspect the contents of every grade they have to see if its blank, which is a further iteration - alternatively add a flag

[2015-10-14 19:38] steveswinsburg commented on #256
Ok yep I just checked against GB1 and that appears to be the case. I'll make the change.

[2015-10-14 19:50] steveswinsburg commented on #256
See https://jira.sakaiproject.org/browse/SAK-29975

I've found that the 'include in course grade calculation' and 'item released to students' dependency is not enforced on the backend, only the frontend. Should we make that change? It could have other effects.

The simplest solution here is to just also include the released to students check as the final check (after the include in course grade ca

[2015-10-15 10:56] steveswinsburg commented on #256
I've merged this so give it a run and let me know if it's what you need @kyleblythe .

[2015-10-15 16:29] kyleblythe commented on #175
Beautiful!

[2015-10-15 16:29] #175 closed, assigned to kyleblythe

[2015-10-15 16:40] kyleblythe commented on #258
Confirmed.

[2015-10-15 16:40] #258 closed, assigned to payten

[2015-10-15 17:04] kyleblythe commented on #167
Below the "Display Course Grade to Students Now" option, provide text stating "Display Grade As:" followed by:
- Letter Grade
- Percentage
- Points

Points will only be available to select if Categories/Categories & Weighting is NOT enabled within the Gradebook.

Letter Grade and Percentage will both by default be selected. Instructor can modify this by deselecting checkboxes, or enabling others.

[2015-10-16 00:38] payten opened #266 "Ability to get a course grade for a single student regardless of whether course grades are released"
Required for #247.

In dynamically updating a student's course grade when a score changes, the current endpoint returns 'null' if the course grades are configured to be _not_ released to students.  It'd be great to have the ability to pull back the latest course grade for a single student, also formatted accordingly to the Gradebook settings.

[2015-10-16 00:41] payten opened #267 "Ability to get a category average for a single student and single category"
Required for #247.

In dynamically updating a student's category average when a score changes, currently simplest way is to hit `buildGradeMatrix`, which may not be the most efficient method.  It'd be great to have the ability to pull back the latest category average for a single student and a provided category ID.

[2015-10-19 11:28] steveswinsburg commented on #266
Checked out the service code for this. There is a hard check in there to not do anything if its not released. However we can probably bypass that with a role check. We'll need this bypassed for both instructor and TA correct?

[2015-10-19 11:34] steveswinsburg commented on #267
Yeah we can make a new method here that calls:

`gradebookService.calculateCategoryScore(final Long categoryId, final List<Assignment> viewableAssignments, final Map<Long,String> gradeMap);`

We'll need to do a couple of lookups to get the assignment list and grademap but that is probably ok.

[2015-10-19 11:38] payten commented on #266
Yep that sounds right - the course grade column is visible to both instructors and TAs so that makes sense.

[2015-10-19 20:12] steveswinsburg opened #268 "When TA’s have view permissions, they should not see “Edit comment” in comment popups"

[2015-10-19 20:33] steveswinsburg commented on #268
Hey Payten, this is in the popoverpanel and the link is in the HTML, not controlled via Wicket. May need to pass the gradeable flag into it (available in the GradeItemCellPanel where the popover is constructed) and then hide that link with a div/span WebMarkupContainer around the html link.

[2015-10-20 10:20] steveswinsburg commented on #167
Hey @kyleblythe,

The gradebook record in the database contains columns for `course_grade_displayed`, `course_points_displayed` and `course_average_displayed`. Interestingly, `course_average_displayed` is completely unused at present, it is never set or retrieved anywhere, as far as I can see.

The mappings I see for this are:
1. 'Display course grade to students now' = `course_grade_displayed`. T

[2015-10-22 13:50] kyleblythe commented on #167
Hey @steveswinsburg ,

Sorry for the delay in responding. Hmm, yeah. Do you see any way around having to add a new field to the db? In the past, when the grade released to students was both the letter grade & percentage, what field was storing those entries? Was that just part of the course_grade_displayed (sorry my understanding's so basic)?

That's interesting that the course_average_displayed i

[2015-10-22 14:32] kyleblythe commented on #268
Confirmed.

[2015-10-22 14:32] #268 closed, assigned to kyleblythe

[2015-10-22 14:34] kyleblythe commented on #260
Confirmed. As per #265, when categories are enabled, the tool defaults to "Group by category" and reverts upon tool reset.

[2015-10-22 14:34] #260 closed, assigned to kyleblythe

[2015-10-22 14:36] kyleblythe commented on #257
Confirmed. The button is hidden entirely when there are no categories in the GB.

[2015-10-22 14:36] #257 closed, assigned to kyleblythe

[2015-10-22 14:36] kyleblythe commented on #251
Confirmed!

[2015-10-22 14:36] #251 closed, assigned to kyleblythe

[2015-10-22 14:40] kyleblythe opened #270 "TA view - some cells not editable with grading permissions in place"
In columns for which TA has grading access, if the cell has no grade associated with it, the TA cannot edit the cell to provide scores. Additionally the cell following one with no grade associated with it also cannot be edited.

![2015-10-22_10-26-27](https://cloud.githubusercontent.com/assets/11447474/10668230/4e67be82-78a9-11e5-9e53-7c1329dcc653.png)

[2015-10-22 14:42] kyleblythe commented on #211
Looking good. Only outstanding issue with regards to TA grade/view permissions is #270 . Closing this one.

[2015-10-22 14:42] #211 closed, assigned to kyleblythe

[2015-10-22 15:03] kyleblythe commented on #168
Follow-up re: formatting and alignment of these grade values when displayed for the instructor/TA in the spreadsheet view:

Ordering of displayed grades should be as follows:
1. Letter Grade
2. Percentage
3. Points

Formatting of the displayed grades should be as follows:

A-   92%  276/300

Additionally, there should be consistent alignment following the letter grade to aid with visual clarity, s

[2015-10-22 18:50] kyleblythe opened #271 "Import Error Message When Successfully Creating New Item, Comments Not Importing"
When successfully creating a new item with scores/comments and clicking "Finish," the following error occurs:

![image](https://cloud.githubusercontent.com/assets/11447474/10674961/aa31108e-78cb-11e5-9576-efdbb80e6628.png)

Upon clicking "Finish" again, you get the following error message:

![image](https://cloud.githubusercontent.com/assets/11447474/10674997/d1374fae-78cb-11e5-9d11-8c26e1261ed3.p

[2015-10-22 19:50] kyleblythe opened #272 "Enhancement to Release to Students/Included in Course Grade Calculations Dependency"
Provide the option to, when both the "Release to Students" and "Include in Course Grade Calculations" checkboxes are selected, still deselect the "Release to Students" checkbox. This will deselect both checkboxes.

[2015-10-22 20:11] steveswinsburg commented on #271
Unclear about first error (need logs) but second error is because it actually did import and then clicking finish again caused the duplicate assignment.

In any case, the `ConflictingNameException` needs to be caught in our addAssignment service method.

[2015-10-22 20:21] steveswinsburg commented on #167
In GB1, toggling 'display course grade to students now' adjusted `course_grade_displayed` and controlled the letter grade/pass not pass etc.

So the one setting controlled both the actual display of the course grade AND the letter/pass grade.

In addition, if the sakai.property `gradebook.coursepoints.displayed = true` was set, then there is an additional column in the course grade page for points

[2015-10-22 20:36] payten opened #273 "Keyboard navigation issues"
From team call:
1. when tabbing from the dropdown menu, close it
2. why doesn't the dropdown menu link have a nice blue outline like other elements? (Chrome)

[2015-10-22 20:58] payten opened #274 "Make category header text always visible when scrolling"
For wide category header cells, the category text can be scrolled off the page while the category item cells are still visible.  It'd be nice if the category text magically moved within the header cell to be visible as the horizontal scroll changes.

[2015-10-22 21:08] payten commented on #271
Looking at the logs, prior to the "You cannot save..." exception, there weren't any clear exceptions preceding. Of the two times the "You cannot save..." was logged, the first was preceded by:

[code]

The second was preceded by:

[code]

[2015-10-23 09:02] payten commented on #273
Re: 2) well, it turns out it's a Bootstrap feature! or bug.. whichever way you want to argue it: `https://github.com/twbs/bootstrap/issues/14939`

While we can't get the "nice blue outline", I'll look into improving the styles so focus/active states are more distinct.

[2015-10-26 09:13] steveswinsburg commented on #271
Hmm, it's still not clear about the 'You cannot save' error, maybe it tried to create two assignments with the same name... But the comments not saving is interesting, in the above there is no comment, so either there was none to start with or it hasn't detected it correctly? Sounds like this needs a bit more work to debug.

In addition, everything is in the onSubmit of the form which means the th

[2015-10-28 00:13] kyleblythe opened #276 "GB Throwing Runtime Exception Errors"
Gradebook is currently throwing the following runtime exception error in every test site:

![image](https://cloud.githubusercontent.com/assets/11447474/10776369/2d81962e-7ce7-11e5-8122-ee191fe84838.png)

[2015-10-28 01:28] payten commented on #276
@steveswinsburg, this looks related to the new settings database column.  The column we had Andy create was `course_grade_letter_displayed` (from the Oracle script) but the SQL in the error refers to `course_letter_grade_displayed`.. eep.

[2015-10-28 10:20] steveswinsburg commented on #276
Fixed, sorry about that!

[2015-10-28 10:20] #276 closed, assigned to nobody

[2015-11-04 19:31] steveswinsburg commented on #235
Good news @kyleblythe, this is now done :+1:
I think the build is frozen at an earlier commit though, so I'll add the label and just get around to it when you can.

[2015-11-12 19:30] kyleblythe commented on #272
Confirmed.

[2015-11-12 19:30] #272 closed, assigned to kyleblythe

[2015-11-12 19:31] kyleblythe commented on #273
Confirmed.

[2015-11-12 19:31] #273 closed, assigned to kyleblythe

[2015-11-12 19:34] kyleblythe commented on #274
Hi Payten,

This is looking great, and I love the automatic scrolling. I did like how, before, the text was centered within the category header. Right now it looks like it's justifying to the left. Is it possible to have it justify to the center of whatever space in the category header row is visible? E.g.,

![image](https://cloud.githubusercontent.com/assets/11447474/11128864/6c2012a6-894a-11e5-9

[2015-11-12 19:48] kyleblythe commented on #235
Confirmed.

[2015-11-12 19:48] #235 closed, assigned to kyleblythe

[2015-11-13 01:15] payten commented on #274
Next build should pick this up... so much magic/mathematics!  :confounded:

[2015-11-13 03:10] payten opened #279 "Category Average different in different views"
In Gradebook1, the Assignment category average is 12.5%:

<img width="1006" alt="screen shot 2015-11-13 at 2 07 04 pm" src="https://cloud.githubusercontent.com/assets/608337/11137865/024990d4-8a10-11e5-9dee-cd178bca7920.png">

In GradebookNG, the instructor sees 300%:

<img width="877" alt="screen shot 2015-11-13 at 2 07 15 pm" src="https://cloud.githubusercontent.com/assets/608337/11137884/1c19f9

[2015-11-17 09:24] steveswinsburg commented on #279
This is odd, wondering if you can check if they are all the same call to the backend and what params are being sent?

[2015-11-19 17:06] kyleblythe opened #281 "Slowness when saving grades & entering grade "edit" mode"
As per our GB call last week, there seems to be some pretty noticeable slowness when both saving grades and entering the edit mode for a cell.

Saving scores for a cell is taking approximately 1.27 seconds to complete when categories & weighting are enabled - this may have to do with the live category subtotal score calculation. Perhaps it's possible to do this subtotal calculation on the side (or

[2015-11-19 17:07] kyleblythe commented on #281
Additional notes:

PG: Locally for me it takes ~80ms to load the input and then 640ms to post the change.  Without the triggering the ScoreChangedEvent (to populate the Category Avg, Course Grade) the post takes 120ms.  So, definitely overhead in calculating those values.. add latency and makes for a sad faces.

PG: I investigated an alternative mechanism for the table inputs when looking into tou

[2015-11-19 18:56] kyleblythe commented on #274
Beautiful!

[2015-11-19 18:56] #274 closed, assigned to kyleblythe

[2015-11-19 19:01] kyleblythe opened #282 "Reorder not sticking"
As per last week's GB call, drag-and-drop does not appear to save in either grouped or ungrouped mode. Reordering via the drop-down menu does not appear to save either; resetting the tool reverts the items to their previous position.

Regardless of what category the items belong to, the console debugging panel reports a 500 (internal server error):

![image](https://cloud.githubusercontent.com/ass

[2015-11-19 20:12] steveswinsburg commented on #281
Sounds like it's the category/course grade calc on every cell update that is causing the slowdown - this should be made asynchronous, perhaps a callback/behaviour on the appropriate cells (category/course grade) so it can update itself in the background. It would mean that a user could tab to the next cell and continue on, then the other cell would update itself when ready.

[2015-11-19 20:24] payten commented on #282
When drag-moving a Participation category grade item I hit this exception:

[code]

[2015-11-20 03:25] payten commented on #259
Duplicate #282. Closing this one as the other has more details.

[2015-11-20 03:25] #259 closed, assigned to nobody

[2015-11-20 03:37] payten commented on #279
For the grade summary popup, I see the service hit here:

[code]

With `category` being this:

[code]

And `gradeMap`:

[code]

Note that the first two assignments have `counted = 'false'`.  Might that be something to do with it?

[2015-11-20 03:42] payten commented on #279
The student view hits a different endpoint:

[code]

With params:

[code]

Hm.. so the number of assignments are different. Only two this time... only those with `released=true`?

[code]

Grades match up for those two:

[code]

[2015-11-30 03:59] payten opened #285 "Refactor categorized sort order code to use Wicket events"
To improve the robustness and reduce complexity of the categorized sort order mechanism, we should look to refactor the existing code to use Wicket events.  The problem is, we need to keep the sort order XML in sync with the state of the gradebook.  This includes when grade items are added, removed or moved to a new category; or when categories are enabled, disabled, added or removed.  Wicket even

[2015-11-30 04:01] payten commented on #282
While I've delivered for the issue you raised @kyleblythe, I worry that there are cases where the XML used to store the categorized sort order could become out of sync with the state of the gradebook. I've created a new task for @steveswinsburg and I to look into refactoring this feature in an effort to make it more robust #285.

[2015-12-02 19:46] steveswinsburg commented on #12
This issue was moved to sakaiproject/sakai#1331

[2015-12-02 19:46] steveswinsburg commented on #13
This issue was moved to sakaiproject/sakai#1332

[2015-12-02 19:47] steveswinsburg commented on #16
This issue was moved to sakaiproject/sakai#1333

[2015-12-02 19:47] steveswinsburg commented on #17
This issue was moved to sakaiproject/sakai#1334

[2015-12-02 19:47] steveswinsburg commented on #21
This issue was moved to sakaiproject/sakai#1335

[2015-12-02 19:48] steveswinsburg commented on #35
This issue was moved to sakaiproject/sakai#1336

[2015-12-02 19:48] #35 closed, assigned to nobody

[2015-12-02 19:48] steveswinsburg commented on #38
This issue was moved to sakaiproject/sakai#1337

[2015-12-02 19:51] steveswinsburg commented on #42
This issue was moved to sakaiproject/sakai#1339

[2015-12-02 19:52] steveswinsburg commented on #45
This issue was moved to sakaiproject/sakai#1340

[2015-12-02 19:52] steveswinsburg commented on #46
This issue was moved to sakaiproject/sakai#1341

[2015-12-02 19:52] steveswinsburg commented on #47
This issue was moved to sakaiproject/sakai#1342

[2015-12-02 19:53] steveswinsburg commented on #48
This issue was moved to sakaiproject/sakai#1343

[2015-12-02 19:53] steveswinsburg commented on #49
This issue was moved to sakaiproject/sakai#1344

[2015-12-02 19:53] steveswinsburg commented on #55
This issue was moved to sakaiproject/sakai#1345

[2015-12-02 19:53] steveswinsburg commented on #56
This issue was moved to sakaiproject/sakai#1346

[2015-12-02 19:53] steveswinsburg commented on #57
This issue was moved to sakaiproject/sakai#1347

[2015-12-02 19:54] steveswinsburg commented on #61
This issue was moved to sakaiproject/sakai#1348

[2015-12-02 19:54] steveswinsburg commented on #62
This issue was moved to sakaiproject/sakai#1349

[2015-12-02 19:54] steveswinsburg commented on #63
This issue was moved to sakaiproject/sakai#1350

[2015-12-02 19:54] steveswinsburg commented on #64
This issue was moved to sakaiproject/sakai#1351

[2015-12-02 19:54] #64 closed, assigned to steveswinsburg

[2015-12-02 19:55] steveswinsburg commented on #65
This issue was moved to sakaiproject/sakai#1352

[2015-12-02 19:55] #65 closed, assigned to nobody

[2015-12-02 19:56] steveswinsburg commented on #66
This one was unable to be migrated.

[2015-12-02 19:56] steveswinsburg commented on #67
This issue was moved to sakaiproject/sakai#1353

[2015-12-02 19:56] #67 closed, assigned to nobody

[2015-12-02 19:56] steveswinsburg commented on #68
This issue was moved to sakaiproject/sakai#1354

[2015-12-02 19:57] steveswinsburg commented on #69
Issue unable to be migrated.

[2015-12-02 20:11] steveswinsburg commented on #77
This issue was moved to sakaiproject/sakai#1355

[2015-12-02 20:11] #77 closed, assigned to nobody

[2015-12-02 20:11] steveswinsburg commented on #105
This issue was moved to sakaiproject/sakai#1356

[2015-12-02 20:11] #105 closed, assigned to nobody

[2015-12-02 20:11] steveswinsburg commented on #109
This issue was moved to sakaiproject/sakai#1357

[2015-12-02 20:11] #109 closed, assigned to nobody

[2015-12-02 20:11] steveswinsburg commented on #120
This issue was moved to sakaiproject/sakai#1358

[2015-12-02 20:11] #120 closed, assigned to nobody

[2015-12-02 20:12] steveswinsburg commented on #127
This issue was moved to sakaiproject/sakai#1359

[2015-12-02 20:12] #127 closed, assigned to nobody

[2015-12-02 20:19] steveswinsburg commented on #132
This issue was moved to sakaiproject/sakai#1360

[2015-12-02 20:19] #132 closed, assigned to steveswinsburg

[2015-12-02 20:20] steveswinsburg commented on #141
This issue was moved to sakaiproject/sakai#1361

[2015-12-02 20:20] #141 closed, assigned to nobody

[2015-12-02 20:20] steveswinsburg commented on #142
This issue was moved to sakaiproject/sakai#1362

[2015-12-02 20:20] #142 closed, assigned to nobody

[2015-12-02 20:20] steveswinsburg commented on #146
This issue was moved to sakaiproject/sakai#1363

[2015-12-02 20:20] #146 closed, assigned to steveswinsburg

[2015-12-02 20:21] steveswinsburg commented on #151
This issue was moved to sakaiproject/sakai#1364

[2015-12-02 20:21] #151 closed, assigned to nobody

[2015-12-02 20:21] steveswinsburg commented on #153
This issue was moved to sakaiproject/sakai#1365

[2015-12-02 20:21] #153 closed, assigned to nobody

[2015-12-02 20:21] steveswinsburg commented on #154
This issue was moved to sakaiproject/sakai#1366

[2015-12-02 20:21] #154 closed, assigned to nobody

[2015-12-02 20:22] steveswinsburg commented on #167
This issue was moved to sakaiproject/sakai#1367

[2015-12-02 20:22] #167 closed, assigned to steveswinsburg

[2015-12-02 20:22] steveswinsburg commented on #168
This issue was moved to sakaiproject/sakai#1368

[2015-12-02 20:22] #168 closed, assigned to steveswinsburg

[2015-12-02 20:22] steveswinsburg commented on #169
This issue was moved to sakaiproject/sakai#1369

[2015-12-02 20:22] #169 closed, assigned to nobody

[2015-12-02 20:23] steveswinsburg commented on #128
This issue was moved to sakaiproject/sakai#1370

[2015-12-02 20:23] #128 closed, assigned to nobody

[2015-12-02 20:27] steveswinsburg commented on #173
This issue was moved to sakaiproject/sakai#1371

[2015-12-02 20:27] #173 closed, assigned to nobody

[2015-12-02 20:28] steveswinsburg commented on #199
This issue was moved to sakaiproject/sakai#1372

[2015-12-02 20:28] #199 closed, assigned to nobody

[2015-12-02 20:28] steveswinsburg commented on #282
This issue was moved to sakaiproject/sakai#1373

[2015-12-02 20:28] #282 closed, assigned to nobody

[2015-12-02 20:29] steveswinsburg commented on #174
This issue was moved to sakaiproject/sakai#1374

[2015-12-02 20:29] #174 closed, assigned to nobody

[2015-12-02 20:29] steveswinsburg commented on #192
This issue was moved to sakaiproject/sakai#1375

[2015-12-02 20:29] #192 closed, assigned to steveswinsburg

[2015-12-02 20:30] steveswinsburg commented on #226
This issue was moved to sakaiproject/sakai#1376

[2015-12-02 20:30] #226 closed, assigned to nobody

[2015-12-02 20:30] steveswinsburg commented on #227
This issue was moved to sakaiproject/sakai#1377

[2015-12-02 20:30] #227 closed, assigned to nobody

[2015-12-02 20:30] steveswinsburg commented on #237
This issue was moved to sakaiproject/sakai#1378

[2015-12-02 20:30] #237 closed, assigned to steveswinsburg

[2015-12-02 20:30] steveswinsburg commented on #239
This issue was moved to sakaiproject/sakai#1379

[2015-12-02 20:30] #239 closed, assigned to nobody

[2015-12-02 20:31] steveswinsburg commented on #252
This issue was moved to sakaiproject/sakai#1380

[2015-12-02 20:31] #252 closed, assigned to nobody

[2015-12-02 20:31] steveswinsburg commented on #256
This issue was moved to sakaiproject/sakai#1381

[2015-12-02 20:31] #256 closed, assigned to nobody

[2015-12-02 20:31] steveswinsburg commented on #263
This issue was moved to sakaiproject/sakai#1382

[2015-12-02 20:31] #263 closed, assigned to nobody

[2015-12-02 20:31] steveswinsburg commented on #266
This issue was moved to sakaiproject/sakai#1383

[2015-12-02 20:31] #266 closed, assigned to steveswinsburg

[2015-12-02 20:31] steveswinsburg commented on #267
This issue was moved to sakaiproject/sakai#1384

[2015-12-02 20:31] #267 closed, assigned to steveswinsburg

[2015-12-02 20:32] steveswinsburg commented on #270
This issue was moved to sakaiproject/sakai#1385

[2015-12-02 20:32] #270 closed, assigned to steveswinsburg

[2015-12-02 20:32] steveswinsburg commented on #271
This issue was moved to sakaiproject/sakai#1386

[2015-12-02 20:32] #271 closed, assigned to nobody

[2015-12-02 20:32] steveswinsburg commented on #279
This issue was moved to sakaiproject/sakai#1387

[2015-12-02 20:32] #279 closed, assigned to nobody

[2015-12-02 20:32] steveswinsburg commented on #281
This issue was moved to sakaiproject/sakai#1388

[2015-12-02 20:32] #281 closed, assigned to nobody

[2015-12-02 20:32] steveswinsburg commented on #285
This issue was moved to sakaiproject/sakai#1389

[2015-12-02 20:32] #285 closed, assigned to nobody